.gform_wrapper {
  .gform_heading {
    .gform_title {
      margin-bottom: 35px;
    }
  }
  ul {
    margin-left: 0;
    li {
      padding-left: 0;
      &:before {
        content: none;
      }
    }
  }
  .gform_body {
    margin-bottom: 20px;
    .gform_fields {
      // display: block;
      display: flex;
      flex-wrap: wrap;
      margin: 0px !important;
      line-height: 0px;
      .gfield {
        display: inline-block;
        position: relative;
        width: 100%;
        float: none;
        margin-bottom: 1.5rem;
        padding-left: 0px;
        vertical-align: top;
        &:before {
          content: none !important;
        }
        ul {
          margin-top: 0;
          margin-bottom: 0;
          li {
            display: flex;
            &:before {
              content: none;
            }
          }
        }
        .gfield_required {
          color: $raspberry;
        }
        h2 {
          font-size: 28px;
          line-height: 1.4;
          margin-bottom: 0;
        }
        &.gfield_error {
          background: rgba(102, 0, 0, 0.2);
          input,
          textarea,
          select {
            border-color: #f56565;
          }
        }
        .ginput_complex.ginput_container_name {
          display: flex;
          &.gf_name_has_3 {
            span {
              width: calc(33.3333% - 10px);
            }
          }
          &.gf_name_has_2 {
            span {
              width: calc(50% - 10px);
            }
          }
          @include breakpoint(small down) {
            flex-direction: column;
            span {
              width: 100% !important;
            }
          }
          > span {
            margin-right: 20px;
            &:last-of-type {
              margin-right: 0;
            }
          }
          input,
          select {
            width: 100%;
          }
          label {
            font-size: 0.8rem;
          }
        }

        @include breakpoint(small down) {
          display: block !important;
          width: 100% !important;
          margin-left: 0px !important;
          margin-right: 0px !important;
          padding: 0px;
        }
        &.gform_validation_container {
          display: none;
        }
        .gfield_description {
          display: block;
          font-size: 0.75rem;
        }
        &.field_description_below .gfield_description {
          margin-top: 0.75rem;
        }
        label {
          display: block;
          margin-bottom: 0.5rem;
          color: $gray-200;
          font-size: 18px;
          letter-spacing: 0.025em;
          line-height: 22px;
          text-transform: uppercase;
        }
        &.gf_list_inline {
          li {
            padding-left: 0;
            margin-left: 0;
            margin-right: 15px;
            display: inline-block;
            @include breakpoint(small down) {
              display: block;
            }
            input[type="checkbox"] {
              display: inline-block;
              width: inherit;
            }
            &:before {
              content: none;
            }
          }
        }
      }
      .gf_left_half {
        width: calc(50% - 15px);
        margin-right: 15px;
      }
      .gf_right_half {
        width: calc(50% - 15px);
        margin-left: 15px;
      }
      .gf_left_third {
        width: calc(33.3333% - 20px);
        margin-right: 20px;
      }
      .gf_center_third {
        width: calc(33.3333% - 20px);
        margin-left: 10px;
        margin-right: 10px;
      }
      .gf_right_third {
        width: calc(33.3334% - 20px);
        margin-left: 20px;
      }
      .gfield_label {
        font-size: 18px;
        // font-size: 19px;
        font-weight: 300;
        line-height: 30px;
      }
      .hidden_label {
        .gfield_label {
          display: none;
        }
      }
      .gf_address_field {
        > .gfield_label {
          display: none;
        }
      }
      .gfield_html {
        h2 {
          margin-bottom: 0px;
        }
        p {
          margin-bottom: 0px;
        }
      }
      .ginput_container {
        position: relative;
      }
      .gfield .ginput_container_address {
        span {
          @include breakpoint(small down) {
            display: block;
            width: 100% !important;
            margin-bottom: 35px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding: 0px !important;
          }
        }
        .address_line_1 {
          display: block;
          position: relative;
          margin-bottom: 35px;
        }
        .address_line_2 {
          display: block;
          position: relative;
          margin-bottom: 35px;
        }
        .address_city {
          display: inline-block;
          position: relative;
          width: calc(33.3333% - 20px);
          float: none;
          margin-right: 20px;
        }
        .address_state {
          display: inline-block;
          position: relative;
          width: calc(33.3333% - 20px);
          float: none;
          margin-left: 10px;
          margin-right: 10px;
        }
        .address_zip {
          display: inline-block;
          position: relative;
          width: calc(33.3334% - 20px);
          float: none;
          margin-left: 20px;
          @include breakpoint(small down) {
            margin-bottom: 0px !important;
          }
        }
        label {
          font-size: 0.8rem;
        }
      }
      .ginput_container_fileupload {
        > .validation_message {
          display: none;
        }
        .gform_fileupload_multifile {
          span {
            display: block;
          }
          input {
            width: auto;
          }
        }
        .gform_drop_instructions {
          margin-bottom: 10px;
        }
      }
      input,
      select,
      textarea {
        display: block;
        width: 100%;
        padding: 0.75rem 1.25rem;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
        color: #4a4a4a;
        font-family: $font;
        font-size: 18px;
        line-height: 21px;
      }
      input {
      }
      select {
        height: 38px;
        border-radius: 0px;
        padding: 5px;
      }
      textarea {
        padding: 1.25rem 1.25rem;
      }
      ::-webkit-input-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder,
      :-moz-placeholder {
        display: none;
      }
    }
  }
  .gform_footer {
    text-align: center;
    .gform_button {
      @include btn();
      background-image: url(../images/svg/arrow.svg);
      background-position: calc(100% - 12px) center;
      background-repeat: no-repeat;
      background-size: 9px 9px;
      padding: 12px 70px;
      border: none;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .gf_readonly input {
    background: #edeff2;
    cursor: not-allowed;
  }
  .validation_error {
    display: block;
    text-align: center;
    margin-bottom: 35px;
    padding: 20px 20px;
    color: #660000;
    // font-size: 18px;
    font-size: 19px;
    border-top: 1px solid #660000;
    border-bottom: 1px solid #660000;
  }
  .validation_message {
    display: block;
    border: none;
    color: #f56565;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-transform: initial;
    &.instruction {
      margin-top: 0.75rem;
      margin-bottom: -0.75rem;
      color: $gray-900;
    }
  }
}
.gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li {
  width: 50%;
  display: inline-flex;
  margin: 0;
  padding-right: 16px;
  min-height: 28px;
  vertical-align: top;
  @include breakpoint(small down) {
    width: 100%;
  }
}
.gform_wrapper .gf_progressbar_wrapper {
  clear: both;
  width: 100%;
  margin: 0 0 16px;
  padding: 0 0 16px;
}
.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
  font-size: 0.813em;
  line-height: 1 !important;
  margin: 0 0 8px 12px !important;
  padding: 0 !important;
  clear: both;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.gform_wrapper .gf_progressbar {
  padding: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
}
.gform_wrapper .gf_progressbar_percentage {
  height: 24px;
  text-align: right;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.813em !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 999;
  vertical-align: middle;
  background: repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 10px,
      rgba(0, 0, 0, 0.1) 10px,
      rgba(0, 0, 0, 0.1) 20px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  border-radius: 20px 4px 4px 20px;
}
.gform_wrapper .gf_progressbar:after {
  display: block;
  width: 100%;
  z-index: 990;
  height: 24px;
  margin-top: -24px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.gform_wrapper .gf_progressbar_percentage.percentbar_100 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.gform_wrapper .gf_progressbar_percentage span {
  display: block;
  width: auto;
  float: right;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 1.8;
}
.gform_wrapper .gf_progressbar_percentage.percentbar_0 span {
  color: #959595;
  text-shadow: none;
  float: none !important;
  margin-left: 12px;
  word-wrap: normal;
}
.gform_wrapper .percentbar_blue {
  background-color: #036493;
  color: #fff;
}
.gform_wrapper .percentbar_gray {
  background-color: #7c7c7c;
  color: #fff;
}
.gform_wrapper .percentbar_green {
  background-color: #88b831;
  color: #fff;
}
.gform_wrapper .percentbar_orange {
  background-color: #ff7120;
  color: #fff;
}
.gform_wrapper .percentbar_red {
  background-color: #ff2a1a;
  color: #fff;
}
.gform_wrapper .gf_page_steps {
  width: 100%;
  margin: 0 0 8px;
  padding: 0 0 4px;
  border-bottom: 1px dotted #ccc;
}
.gform_wrapper .gf_step {
  width: 100%;
  margin: 24px 24px 24px 0;
  font-size: 0.875em;
  height: 14px;
  line-height: 1.25 !important;
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  font-family: inherit;
}
.gform_wrapper .gf_step span.gf_step_number {
  font-size: 1.25em;
  font-family: arial, sans-serif;
  margin-right: 4px;
}
.gform_wrapper .gf_step span.gf_step_label,
.gform_wrapper .gf_step span.gf_step_number {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
}
.gform_wrapper .gf_step.gf_step_active {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.gform_wrapper .gf_step_clear {
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}
.gform_wrapper .screen-reader-text,
.gform_wrapper label.hidden_sub_label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
