// Page Styles
.front-page {
  .left-block {
    width: 100%;
    .inner {
      margin-left: auto;
      margin-right: 0;
    }
  }
  .right-block {
    width: 100%;
    .inner {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

// Front Hero
.front-hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  .row {
    @include smg-row();
  }
  h1 {
    color: #fff;
    text-align: center;
  }
  p {
    color: #fff;
    text-align: center;
  }
}

// Tour
.tour {
  padding: 80px 0;
  background-color: #e8eb9b;
  .row {
    @include smg-row();
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #952361;
    i {
      margin-right: 1rem;
    }
  }
  p {
    text-align: center;
  }
}

// Discover
.discover {
  .row {
    display: flex;
  }
  .left-block {
    padding: 80px 0;
    background-color: #4f677d;
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
    }
    ul {
    }
    li {
      color: #fff;
    }
  }
  .right-block {
    width: 50%;
    padding: 80px 0;
    background-color: #ccc;
    h2 {
      color: #fff;
    }
  }
}

// Explore
.explore {
  .row {
    display: flex;
  }
  .left-block {
    padding: 80px 0;
    background-color: #ccc;
    h2 {
      color: #fff;
    }
  }
  .right-block {
    padding: 80px 0;
    background-color: #952361;
    h2 {
      color: #fff;
    }
    .icon-group {
      display: flex;
      align-items: center;
    }
    .icon {
      display: block;
      flex: 0 0 auto;
      margin-right: 1rem;
      line-height: 0;
    }
    .btn {
      display: block;
    }
  }
}

// Meet
.meet {
  .row {
    display: flex;
  }
  .left-block {
    padding: 80px 0;
    background-color: #8ea34c;
    h2 {
      color: #fff;
    }
    .entries {
      margin-bottom: 50px;
    }
    .entry-content {
      height: 200px;
      background-color: #eee;
      border-radius: 6px;
    }
    .entry-resident {
      text-align: right;
    }
    .actions {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .entries-nav {
      display: flex;
      flex: 0 0 auto;
      .arrow {
        display: flex;
        height: 60px;
        width: 50px;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid #fff;
        color: #fff;
      }
      .arrow-left {
        margin-right: 10px;
      }
    }
  }
  .right-block {
    .residents {
      position: relative;
      height: 100%;
    }
    .slick-list {
      height: 100%;
    }
    .slick-track {
      height: 100%;
    }
    .resident {
      height: 100%;
      padding: 4rem 2rem;
      background-color: #eee;
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid #fff;
      color: #fff;
      z-index: 2;
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
    h2 {
      color: #fff;
    }
  }
}

// Questions
.questions {
  padding: 82px 0;
  .row {
    @include smg-row();
  }
  h2 {
    text-align: center;
  }
  .toggles {
  }
  .toggle {
    margin-bottom: 1rem;
    h4 {
      position: relative;
      margin: 0;
      padding: 0.75rem 1rem;
      background-color: #fff;
      border: 1px solid #000;
      color: #000000;
      z-index: 2;
    }
    .body {
      height: 0;
      margin-top: -1rem;
      padding: 0.5rem;
      background-color: #ccc;
      overflow: hidden;
      color: #000;
      transition: 300ms;
    }
    &.active {
      .body {
        height: auto;
        margin-top: 0;
      }
    }
  }
}

// Gallery
.gallery {
  background-color: #ebebeb;
  .row {
    @include smg-row();
    display: flex;
    img {
      height: 200px;
      width: 25%;
      margin-right: 15px;
      background-color: #fefefe;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

// Articles
.articles {
  padding: 80px 0;
  background-color: #4f677d;
  h2 {
    margin-bottom: 3rem;
    color: #fff;
    text-align: center;
  }
  .entries {
    display: flex;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    .entry {
      width: 33.3333%;
      margin-right: 30px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    .img {
      display: block;
      height: 178px;
      width: 100%;
      margin-bottom: 1rem;
      background-color: #eee;
      border: 1px solid #fff;
      img {
      }
    }
    h3 {
      a {
        color: #fff;
      }
    }
    .readmore {
      color: #e7ec90;
    }
  }
}

// Associatations
.associatations {
  padding: 30px 0;
  .row {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    height: 100px;
    width: 100px;
    background-color: #ccc;
    border-radius: 100%;
  }
}

// Get In Touch
.get-in-touch {
  padding: 80px 0;
  background-color: #e8eb9b;
  .row {
    @include smg-row();
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #952361;
    i {
      margin-right: 1rem;
    }
  }
  p {
    text-align: center;
  }
}
