.default-template {
  @include smg-row();
  display: flex;
  padding: 2rem 15px;
  .archive {
    flex: 1 1 auto;
    .entry {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }
    .entry-header {
      width: 100%;
    }
    .entry-image {
      width: 250px;
    }
    .entry-content {
      height: 200px;
      width: calc(100% - 250px);
      padding-left: 30px;
      background-color: #eee;
      border-radius: 6px;
    }
  }
  .sidebar {
    display: block;
    width: 208px;
    flex: 0 0 auto;
    margin-left: 70px;
    @include breakpoint(medium down) {
      width: 100%;
      margin-left: 0;
    }
  }
}
