.default-template {
  @include smg-row();
  display: flex;
  padding: 2rem 15px;
  .entry {
    flex: 1 1 auto;
    @include breakpoint(medium down) {
      width: 100%;
      padding: 0;
    }
    .entry-header {
    }
    .entry-title {
      font-size: 46px;
    }
    .entry-body {
    }
    .entry-content {
    }
  }
  .sidebar {
    display: block;
    width: 208px;
    flex: 0 0 auto;
    margin-left: 70px;
    @include breakpoint(medium down) {
      width: 100%;
      margin-left: 0;
    }
  }
}
