#footer {
  padding: 80px 0px;
  background-color: #ccc;
  .row {
    display: flex;
  }
  .logo {
    margin-right: 30px;
    flex: 0 0 auto;
  }
  .info {
    margin-right: 30px;
    flex: 0 0 auto;
  }
  .footer-menu {
    height: 200px;
    flex: 1 1 auto;
    background-color: #eee;
    border-radius: 6px;
  }
}

.copyright {
  padding: 2rem 0;
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    .facebook {
      height: 40px;
      width: 40px;
      background-color: #ccc;
      border-radius: 100%;
    }
  }
  p {
    text-align: center;
  }
}
