.gform_wrapper {
  .gform_body .gform_fields {
    input,
    select,
    textarea {
      border-color: $gray-500;
      box-shadow: none;
      border-radius: 0;
      font-size: 21px;
    }
    input[type="checkbox"] {
      width: 20px;
      height: 16px;
    }
    .gf_right_half {
      width: calc(50% - 5px);
      margin-left: 5px;
    }
    .gf_left_half {
      width: calc(50% - 5px);
      margin-right: 5px;
    }
    .gfield {
      label {
        top: 7px;
        color: #000;
        font-size: 21px;
        letter-spacing: 0.46px;
        @include breakpoint(medium down) {
          font-size: 16px;
          letter-spacing: 0.35px;
        }
      }
      input[type="checkbox"] {
        margin-right: 7px;
      }
    }
  }
  .gform_footer .gform_button {
    background-color: $gray-500;
    border-color: $gray-500;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    padding: 10px;
    &:hover {
      background-color: $gray-300;
      border-color: $gray-300;
    }
  }
}
