// header
#header {
  position: relative;
  padding: 2rem 0;
  background-color: #4f677d;
  z-index: 2;
  @include breakpoint(small down) {
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    flex: 0 0 auto;
    padding: 10px 0;
    font-size: 32px;
  }
  .notice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 0.75rem 2rem;
    background-color: #eee;
    .icon {
      flex: 0 0 auto;
      height: 20px;
      width: 20px;
      margin: 0;
      margin-right: 1rem;
      background-color: #ccc;
      border-radius: 100%;
    }
    p {
      margin: 0;
    }
  }
  .info {
    .phone {
    }
    .actions {
      display: flex;
      align-items: center;
      .facebook {
        flex: 0 0 auto;
        height: 20px;
        width: 20px;
        margin: 0;
        margin-right: 1rem;
        background-color: #ccc;
        border-radius: 100%;
      }
      .directions {
        display: flex;
        align-items: center;
      }
      .icon {
        flex: 0 0 auto;
        height: 20px;
        width: 20px;
        margin: 0;
        margin-right: 1rem;
        background-color: #ccc;
        border-radius: 100%;
      }
      span {
        color: #fff;
      }
    }
  }
}

.mainmenu {
  position: relative;
  height: 60px;
  background-color: #8ea34c;
  z-index: 2;
  #menu {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    justify-content: flex-start;
    padding-left: 30px;
    background-color: rgba(2, 46, 175, 0.8);
    @include breakpoint(small down) {
      padding-left: 0;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: calc(((100vw - 1200px) / 2) + 15px);
      left: 100%;
      top: 0;
      background-color: rgba(2, 46, 175, 0.8);
      @include breakpoint(medium down) {
        width: calc(((100vw - 768px) / 2));
      }
    }
    #menu-header-menu {
      display: flex;
      width: 100%;
      margin: 0;
      justify-content: space-between;
      font-family: $font;
      font-weight: normal;
      @include breakpoint(medium down) {
        display: none;
      }
      > li {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: #fff;
        font-size: 21px;
        letter-spacing: 0.5px;
        @include breakpoint(large up) {
          padding: 15px 0;
          &:hover {
            position: static;
            > a:after {
              content: "";
              display: block;
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%) translateY(-1px);
              border-left: 19px solid transparent;
              border-right: 19px solid transparent;
              border-top: 12px solid $secondary-color;
            }
          }
        }

        a {
          position: relative;
          display: block;
          padding: 7px 0;
          color: #fff;
        }
        ul {
          position: absolute;
          display: none;
          visibility: hidden;
          z-index: 200;
          top: 100%;
          left: 0;
          padding: 5px 0;
          opacity: 0;

          //box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          width: 100%;
          transition: 0.5s;
          margin-left: 0;
          @include breakpoint(large up) {
            background-color: rgba(2, 46, 175, 0.8);
            padding-left: 30px;
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: calc(((100vw - 1200px) / 2) + 15px);
            left: 100%;
            top: 0;
            background-color: rgba(2, 46, 175, 0.8);
          }
          li {
            margin: 0;
            padding: 0;
            line-height: 22px;
            font-size: 18px;
            &:hover {
              a {
                color: $gray-100;
              }
            }
            a {
              padding: 10px 0px 10px 0px;
              text-transform: uppercase;
              line-height: 22px;
              font-size: 18px;
              display: block;
              width: 100%;
              position: relative;
              z-index: 10;
              color: #fff;
              @include breakpoint(medium down) {
                width: 100%;
              }
            }
          }
        }
        @include breakpoint(large up) {
          &:hover {
            > a {
              color: #fff;
              color: $gray-100;
            }
            ul {
              opacity: 1;
              visibility: visible;
              display: block;
            }
          }
        }
        > a {
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
    #mobile-menu {
      display: none;
      @include breakpoint(medium down) {
        display: flex;
        width: 100%;
      }
      @include breakpoint(small down) {
        width: 100%;
        padding-left: 30px;
        @include smg-row();
      }
    }
  }
}

// Mobile Menu
#mobile-menu {
  //background-color: $gray-100;
  padding: 10px 15px;
  align-items: center;
  @include breakpoint(medium down) {
    padding-left: 0px;
  }
  .bars {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
    span {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.26px;
      color: #fff;
      font-weight: 700;
    }
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 29px;
    height: 1px;
    background-color: #fff;
    margin: 9px 0;
    transition: 0.4s;
  }
  .bar3 {
    margin-bottom: 0;
  }
  /* Rotate first bar */
  .change {
    .bar1 {
      transform: rotate(-45deg) translate(-11px, 9px);
    }
    .bar2 {
      opacity: 0;
    }
    .bar3 {
      transform: rotate(45deg) translate(-4px, -4px);
    }
  }
}

.header-form {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 1rem 0;
  background-color: #e8eb9b;
  transform: translateY(-100%);
  transition: 300ms;
  &.active {
    transform: translateY(0%);
  }
  .row {
    display: flex;
    align-items: center;
  }
  h6 {
    margin: 0;
    margin-right: 2rem;
  }
  p {
    height: 40px;
    flex: 1 1 auto;
    margin: 0;
    background-color: #ccc;
    border-radius: 6px;
  }
}
