/* Basic Elements */
body {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal;
}

strong,
b {
  font-weight: 400;
}

p {
  margin: 0;
  margin-bottom: 30px;
  font-size: $paragraph-font-size;
  line-height: 25px;
}

blockquote {
}

.fl-text {
}

.smg-slider {
  .slick-list {
    @include breakpoint(small down) {
      margin-bottom: 25px;
    }
  }
  .slick-arrow {
  }
}

@each $name, $value in $palette {
  .#{$name} {
    color: #{$value} !important;
  }
  .bg-#{$name} {
    background-color: #{$value} !important;
  }
}
