article.entry {
  padding: 0;

  @include breakpoint(medium down) {
    padding: 40px 0 40px;
  }

  .page-title {
    color: $raspberry;
    font-family: $font-alt;
    font-size: 56px;
    font-style: italic;
    font-weight: 400;
    line-height: 50px;
    padding-left: 5px;
    margin-bottom: 25px;
  }

  .fl-module {
    img {
      width: 100%;
    }
  }

  .entry-content {
    p, td  {
      font-family: $font;
      font-size: 19px;
      font-weight: 300;
      line-height: 29px;

      a {
        color: $raspberry;
        transition: 0.3s;

        &:hover {
          color: #4f677d;
        }
      }
    }
    

    h2 {
      color: #8ea34c;
      font-family: $font;
      font-size: 42px;
      font-weight: 300;
      line-height: 53px;
      margin-bottom: 15px;
      @include breakpoint(medium down) {
        font-size: 36px;
      }
    }

    h3 {
      color: #8ea34c;
      font-family: $font;
      font-size: 32px;
      font-weight: 300;
      line-height: 40px;
      margin-bottom: 15px;
    }

    h4 {
      color: #8ea34c;
      font-family: $font;
      font-size: 22px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 15px;
    }

    ol {
      margin-top: 35px;
      margin-bottom: 35px;
      margin-left: 30px;
      li {
        position: relative;
        padding-left: 10px;
        font-family: $font;
        font-size: 19px;
        font-weight: 300;
        line-height: 29px;
      }
    }

    ul {
      margin-top: 35px;
      margin-bottom: 35px;
      li {
        font-family: $font;
        font-size: 19px;
        font-weight: 300;
        line-height: 29px;
        position: relative;

        &:before {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #95005a;
          position: absolute;
          display: block;
          left: -10px;
          top: 15px;
          transform: translateY(-50%);
        }
      }
    }
  }

  /* ------------------------------------
	   Block: Sidebar
	------------------------------------- */

  /* ------------------------------------
	   Block: Form
	------------------------------------- */
}
.sidebar {
  .sidebar-widget {
    margin-bottom: 50px;
    &:last-of-type {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
    h2 {
      color: #92015a;
      font-family: $font-alt;
      font-size: 36px;
      font-style: italic;
      font-weight: 400;
      line-height: 41px;
      margin-bottom: 7px !important;
    }

    #gform_4 {
      #field_4_3 {
        margin-bottom: 5px;
      }

      input {
        padding-left: 7px !important;
      }

      .gform_fields .gfield.field_description_below .gfield_description {
        position: absolute;
        right: 0;
        bottom: -17px;
      }

      .validation_error {
        display: none;
      }

      label {
        text-transform: capitalize;
        font-family: $font;
        font-size: 19px;
        font-weight: 300;
        line-height: 29px;

        span {
          color: #92015a;
        }
      }
      #input_4_1_3 {
        & + label {
          display: none;
        }
      }

      .gform_footer {
        border: 1px solid $white;
        margin-top: -5px;
      }

      input[type="submit"] {
        outline: none;
        margin-left: 0;
        background-color: $raspberry;
        text-transform: capitalize;
        background-position: 91% 54%;
        transition: 0.3s;
        color: $white;
        font-family: $font;
        font-size: 18px;
        background-size: auto;

        &:hover {
          background-color: #4f677d;
        }
      }
    }
    .gform_wrapper .gform_body .gform_fields .gfield {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      @include breakpoint(medium down) {
        flex-wrap: wrap;
      }

      label {
        margin-bottom: 0;
        width: 32px;
      }

      .ginput_container {
        margin-left: 15px;
        max-width: 128px;
        width: 100%;
        border: 1px solid #d4d4d4;

        @include breakpoint(medium down) {
          max-width: 100%;
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  .sidebar-widget {
    img {
      margin-bottom: 15px;
    }
    p {
      a.button {
        display: block;
        color: $white;
        font-family: $font;
        font-size: 18px;
        text-align: center;
        //border: solid 1px #ffffff;
        background: $raspberry;
        padding: 4.5px 5px;
        position: relative;
        transition: 0.3s;
        border: 1px solid $white;
        padding: 10px 2px;
        line-height: 1;
        &:hover {
          background-color: #4f677d;
        }

        &:before {
          content: url("../images/svg/arrow.svg");
          position: absolute;
          right: 14%;
          top: 50%;
          transform: translateY(-50%);
          z-index: 5;
          line-height: 1;
          height: 14px;
        }
      }
    }
  }

  /* ------------------------------------
		   Block: Fancybox
		------------------------------------- */

  .fl-node-5dad672a846dd {
    .fl-rich-text {
      h2 + p {
        position: relative;

        a:before {
          content: url("../images/vidoe_button_sm.png");
          position: absolute;
          left: 40%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 5;
          cursor: pointer;

          @include breakpoint(medium down) {
            left: 49%;
          }
        }

        a {
          border: none;
          background: none;
          position: relative;
          transition: 0.3s;

          &:hover:before {
            opacity: 0.8;
          }

          &:before {
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.fl-col-small {
  h2 {
    margin-bottom: 5px !important;
  }
}

/* ------------------------------------
   Block: Adaptive
------------------------------------- */

#page {
  // @include breakpoint(medium down) {
  //   padding-top: 112px;
  // }

  .fl-node-5da9c402c69c9 {
    @include breakpoint(medium down) {
      width: 100%;
    }

    .fl-module-content {
      @include breakpoint(medium down) {
        margin-right: 0;
      }
    }
  }

  .fl-node-5da9c402c69ce {
    @include breakpoint(medium down) {
      width: 50%;
      float: none;
      margin: 0 auto;
      text-align: center;
    }

    .fl-module-content {
      @include breakpoint(medium down) {
        margin-left: 0;
      }
    }
  }
}
