#footer {
  padding: 74px 0px;
  background-color: #f1f1f1;
  position: relative;
  background-repeat: no-repeat;
  background-position: 28% 5%;
  overflow-x: hidden;

  &:before {
    content: url('../images/footer-fancy.png');
    position: absolute;
    top: 0px;
    left: 0px;

    @include breakpoint(1300 down) {
      left: 0;
      overflow-x: hidden;
    }
  }

  .footer-fl {
    display: flex;
    justify-content: space-between;

    @include breakpoint(medium down) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include breakpoint(small down) {
      flex-direction: column;
      align-items: inherit;
    }
  }

  .row-bg {
    position: relative;

    //&:before {
    //	content: url("../images/footer-fancy.png");
    //	position: absolute;
    //	top: -74px;
    //	left: -65px;
    //
    //	@include breakpoint(1300 down){
    //		left: 0;
    //		overflow-x: hidden;
    //	}
    //}
  }

  .logo {
    margin-right: 30px;
    flex: 0 0 auto;

    @include breakpoint(medium down) {
      flex-basis: 100%;
      text-align: center;
      margin-right: 0;
      margin-bottom: 35px;
    }

    svg {
      width: 279px;
      height: 140px;
    }
  }

  .info {
    //margin-right: 30px;
    flex: 0 0 auto;

    @include breakpoint(medium down) {
      margin-right: 0;
    }

    @include breakpoint(small down) {
      padding-left: 50px;
    }

    h4 {
      font-family: $font-lato;
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      color: #000000;
      margin-bottom: 0;
    }

    .address_wrap {
      p {
        font-family: $font-lato;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
      }

      a {
        font-family: $font-lato;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        color: $raspberry;
        transition: 0.3s;

        &:hover {
          color: #4f677d;
        }
      }
    }
  }

  .footer-menu {
    //height: 200px;
    //flex: 1 1 auto;
    //background-color: #eee;
    //border-radius: 6px;

    @include breakpoint(small down) {
      padding-left: 50px;
      margin-bottom: 30px;
    }

    ul {
      @include breakpoint(small down) {
        margin-left: 0;
      }

      li {
        margin-bottom: 0;
      }
    }

    .menu-item {
      @include breakpoint(small down) {
        padding-left: 0;
      }
      a {
        color: #92015a;
        font-family: $font-lato;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        transition: 0.3s;

        &:hover {
          color: #4f677d;
        }
      }
    }
  }
}

.copyright {
  padding: 2rem 0;

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    .facebook-wrap {
      height: 40px;
      width: 40px;
      background-color: transparent;
      border-radius: 100% !important;
      border: solid 2.1px $raspberry;
      text-align: center;
      line-height: 44px;
      transition: 0.3s;

      &:hover {
        border-color: #4f677d;

        svg {
          fill: #4f677d;
        }
      }

      svg {
        width: 10px;
        height: 21px;
        fill: $raspberry;
        transition: 0.3s;
      }
    }
  }

  p {
    text-align: center;
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 21px;
  }
}
