.gform_wrapper {
  .gform_body .gform_fields {
    input,
    select,
    textarea {
      border-color: $input-border;
      box-shadow: none;
      border-radius: 0;
      font-size: 18px;
    }
    input[type="checkbox"] {
      width: 20px;
      height: 16px;
    }
    .gf_right_half {
      width: calc(50% - 5px);
      margin-left: 5px;
    }
    .gf_left_half {
      width: calc(50% - 5px);
      margin-right: 5px;
    }
    .gfield {
      label {
        //top: 7px;
        text-transform: none;
        color: #000;
        // font-size: 21px;
        //letter-spacing: 0.46px;
        // @include breakpoint(medium down) {
        //   // font-size: 16px;
        //   letter-spacing: 0.35px;
        // }
        // font-size: 0.7rem;
      }
      input[type="checkbox"] {
        margin-right: 7px;
      }
    }
  }
  .gform_footer {
    text-align: left;
    .gform_button {
      margin-left: 0;
      background-color: $raspberry;
      border-color: $raspberry;
      text-align: center;
      font-size: 18px;
      padding: 10px 40px 10px 20px;
      &:hover {
        background-color: #4f677d;
        border-color: #4f677d;
      }
    }
  }
}

.gform_wrapper .gform_body .gform_fields .gfield {
  label {
    min-height: 22px;
  }
  .ginput_container_address label {
    font-size: 0.7rem;
  }
  // .ginput_container_address {
  //   .address_city,
  //   .address_state,
  //   .address_zip {
  //     margin-bottom: 35px;
  //   }
  // }
}
#gform_wrapper_2,
#gform_wrapper_3 {
  .ginput_container_name {
    > span {
      width: 100%;
    }
  }
}
#gform_submit_button_3 {
  width: 100%;
}
.gform_next_button,
.gform_previous_button {
  margin-left: 0;
  background-color: $raspberry;
  border-color: $raspberry;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  &:hover {
    background-color: #4f677d;
    border-color: #4f677d;
  }
}
