// header

.mobile-fixed {
  @include breakpoint(medium down) {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 25;
  }
}

#header {
  position: fixed;
  width: 100%;
  padding: 0.61rem 0;
  background-color: #4f677d;
  z-index: 100;
  background-repeat: no-repeat;
  background-position: 0% 100%;

  &:before {
    content: url("../images/fancy-bg2.png");
    position: absolute;
    right: 0;
    top: -133px;
    z-index: -1;
    display: block;

    @include breakpoint(medium down) {
      content: "";
    }
  }

  &:after {
    content: url("../images/fancy-bg.png");
    position: absolute;
    left: 0;
    top: -133px;
    z-index: -1;
    display: block;

    @include breakpoint(medium down) {
      content: "";
    }
  }

  @include breakpoint(small down) {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(small down) {
      flex-wrap: wrap;
    }
  }

  .logo {
    flex: 0 0 auto;
    padding: 10px 0;
    font-size: 32px;
    margin-right: auto;

    @include breakpoint(small down) {
      flex-basis: 100%;
      text-align: right;
      margin: 0;
      margin-top: 15px;
    }

    a {
      display: inline-block;

      img {
        @include breakpoint(small down) {
          max-width: 60%;
        }
      }
    }
  }

  .notice {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    width: 526px;
    height: 99px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    &:hover {
      img {
        transform: translateY(-50%);
      }
      p {
        color: #fff;
      }
      svg path {
        fill: #fff;
      }
    }

    @include breakpoint(medium down) {
      display: none;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
    }

    .icon {
      flex: 0 0 auto;
      height: 20px;
      width: 20px;
      margin: 0;
      margin-right: 1rem;
      //background-color: #ccc;
      border-radius: 100%;
      z-index: 2;
    }

    p {
      margin: 0;
      color: #952361;
      font-family: $font-alt;
      font-size: 28px;
      font-weight: 400;
      line-height: 37px;
      z-index: 2;
    }
  }

  .info {
    margin-left: auto;

    @include breakpoint(small down) {
      margin: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      align-items: flex-start;
    }

    .phone {
      color: $white;
      font-family: $font-alt;
      font-size: 32px;
      font-style: italic;
      font-weight: 400;
      line-height: 35px;

      .phone-text {
        @include breakpoint(small down) {
          display: none;
        }
      }

      a {
        color: $white;
        font-size: 24px;
        font-family: $font-lato;
        font-style: normal;
        transition: 0.3s;

        &:hover {
          color: $light-olive;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 15px;
      @include breakpoint(small down) {
        margin-top: 0;
      }
      .facebook {
        flex: 0 0 auto;
        height: 33px;
        width: 33px;
        margin: 0;
        margin-right: 1rem;
        background-color: transparent;
        border-radius: 100% !important;
        border: 2px solid $white;
        text-align: center;
        line-height: 33px;
        fill: $white;

        &:hover {
          border-color: $light-olive;

          svg {
            fill: $light-olive;
          }
        }

        svg {
          width: 8px !important;
          height: 16px !important;
        }
      }

      .directions {
        display: flex;
        align-items: center;

        @include breakpoint(small down) {
          margin-left: 7px;
        }
      }

      .icon {
        flex: 0 0 auto;
        margin: 0;
        //margin-right: 1rem;
        //width: 23px;
        height: 32px;
        transition: 0.3s;
        display: flex;
        align-items: center;
        color: $white;
        font-family: $font-alt;
        font-size: 32px;
        font-style: italic;
        font-weight: 400;
        line-height: 35px;
        //padding-bottom: 10px;

        .hover {
          color: $light-olive !important;
        }

        @include breakpoint(small down) {
          margin-right: 0;
        }

        &:hover {
          svg {
            fill: $light-olive;
          }
        }

        svg {
          transition: 0.3s;
          fill: $white;
          width: 23px !important;
          height: 33px !important;
        }

        .direction {
          transition: 0.3s;
          display: inline-block;
          margin-left: 15px;

          @include breakpoint(small down) {
            display: none;
          }

          &:hover {
            color: $light-olive;
          }
        }
      }

      span {
        color: $white;
        font-family: $font-alt;
        font-size: 32px;
        font-style: italic;
        font-weight: 400;
        line-height: 35px;
        display: inline-block;
        // padding-top: 12px;

        @include breakpoint(small down) {
          display: none;
        }
      }
    }
  }
}

.mainmenu {
  position: relative;
  //height: 60px;
  background-color: $olive;
  z-index: 6;
  top: 193px;
  #menu {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    justify-content: space-between;
    margin-left: 0;
    //padding-left: 30px;
    //background-color: rgba(2, 46, 175, 0.8);

    @include breakpoint(small down) {
      padding-left: 0;
    }
    //&:after {
    //  content: "";
    //  display: block;
    //  position: absolute;
    //  height: 100%;
    //  width: calc(((100vw - 1200px) / 2) + 15px);
    //  left: 100%;
    //  top: 0;
    //  background-color: rgba(2, 46, 175, 0.8);
    //
    //  @include breakpoint(medium down) {
    //    width: calc(((100vw - 768px) / 2));
    //  }
    //}
    #menu-header-menu {
      display: flex;
      width: 100%;
      margin: 0;
      justify-content: space-between;
      font-family: $font;
      font-weight: normal;
      @include breakpoint(medium down) {
        display: none;
      }

      > li {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: #fff;
        font-size: 21px;
        letter-spacing: 0.5px;

        @include breakpoint(large up) {
          padding: 15px 0;
          &:hover {
            position: static;

            > a:after {
              content: "";
              display: block;
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%) translateY(-1px);
              border-left: 19px solid transparent;
              border-right: 19px solid transparent;
              border-top: 12px solid $secondary-color;
            }
          }
        }

        a {
          position: relative;
          display: block;
          padding: 7px 0;
          color: #fff;
        }

        ul {
          position: absolute;
          display: none;
          visibility: hidden;
          z-index: 200;
          top: 100%;
          left: 0;
          padding: 5px 0;
          opacity: 0;

          //box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          width: 100%;
          transition: 0.5s;
          margin-left: 0;
          @include breakpoint(large up) {
            background-color: rgba(2, 46, 175, 0.8);
            padding-left: 30px;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: calc(((100vw - 1200px) / 2) + 15px);
            left: 100%;
            top: 0;
            background-color: rgba(2, 46, 175, 0.8);
          }

          li {
            margin: 0;
            padding: 0;
            line-height: 22px;
            font-size: 18px;

            &:hover {
              a {
                color: $gray-100;
              }
            }

            a {
              padding: 10px 0px 10px 0px;
              text-transform: uppercase;
              line-height: 22px;
              font-size: 18px;
              display: block;
              width: 100%;
              position: relative;
              z-index: 10;
              color: #fff;
              @include breakpoint(medium down) {
                width: 100%;
              }
            }
          }
        }

        @include breakpoint(large up) {
          &:hover {
            > a {
              color: #fff;
              color: $gray-100;
            }

            ul {
              opacity: 1;
              visibility: visible;
              display: block;
            }
          }
        }

        > a {
          color: #fff;
          text-transform: uppercase;
        }
      }
    }

    #mobile-menu {
      display: none;
      @include breakpoint(medium down) {
        display: flex;
        width: 100%;
      }
      @include breakpoint(small down) {
        width: 100%;
        padding-left: 30px;
        @include smg-row();
      }
    }
  }
}

// Mobile Menu
#mobile-menu {
  //background-color: $gray-100;
  padding: 10px 15px;
  align-items: center;
  @include breakpoint(medium down) {
    padding-left: 0px;
  }

  .bars {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;

    span {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.26px;
      color: #fff;
      font-weight: 700;
    }
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: $white;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 5px;
  }

  .bar3 {
    margin-bottom: 0;
  }
}

.mobile_menu_open {
  .bar1 {
    transform: rotate(-45deg) translate(-11px, 7.5px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    transform: rotate(45deg) translate(-7px, -3.5px);
  }

  .mainmenu {
    z-index: 25;
  }
}

/* ------------------------------------
   Block: Sticky nav menu mobile
------------------------------------- */

.header-form {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 1.8rem 0;
  background-color: #e8eb9b;
  transform: translateY(-100%);
  transition: all 300ms;
  z-index: 4;

  @include breakpoint(medium down) {
    display: none;
  }

  &.active {
    transform: translateY(0%);
    //z-index: 2 !important;
    top: 266px;
  }

  .row {
    display: flex;
    align-items: center;
  }

  h6 {
    margin: 0;
    margin-right: 2rem;
  }

  p {
    height: 40px;
    flex: 1 1 auto;
    margin: 0;
    background-color: #ccc;
    border-radius: 6px;
  }
}

/* ------------------------------------
   Block: custom style
------------------------------------- */

#header {
  #mobile-menu {
    display: none;
    @include breakpoint(medium down) {
      display: flex;
      flex-direction: column-reverse;
      width: auto;

      span {
        color: $white;
        font-family: $font;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        padding-left: 5px;
        padding-top: 10px;
      }
    }
    @include breakpoint(small down) {
      width: 100%;
      padding-left: 30px;
      @include smg-row();
    }
  }
}

.mainmenu {
  //overflow: hidden;
  //padding: 15px 0;
  @include breakpoint(medium down) {
    position: relative;
  }

  .row {
    @include breakpoint(medium down) {
      position: relative;
    }
  }

  #menu-header-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 0;

    @include breakpoint(medium down) {
      //position: absolute;
      position: fixed;
      //left: 0;
      left: auto;
      margin-left: -15px;
      background: #4f6477;
      flex-direction: column;
      width: 100%;
      display: none;
      max-width: 768px;
      top: 122px;
      overflow-y: scroll;
      height: calc(100% - 123px);
    }

    @include breakpoint(small down) {
      max-width: 380px;
      top: 192px;
      height: calc(100% - 204px);
    }

    li.menu-item {
      margin-bottom: 0;
      padding: 24px 0;
      position: relative;

      &:after {
        content: "";
        width: 1px;
        height: 45px;
        background: #e8eb9b;
        position: absolute;
        right: -21px;
        top: 50%;
        transform: translateY(-50%);

        @include breakpoint(medium down) {
          display: none;
        }
      }

      &:hover > a {
        color: $light-olive;
        transition: 0.3s;
      }

      @include breakpoint(medium down) {
        padding: 15px 0;
      }

      @include breakpoint(415 down) {
        padding: 8px 0;
      }

      a {
        color: #ffffff;
        font-family: $font-raleway;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.3px;
        //transition: .3s;
      }

      &:first-child {
        padding-left: 0;

        // @include breakpoint(medium down) {
        //   padding-left: 25px;
        // }
      }

      &:last-child {
        &:after {
          display: none;
        }
        ul.vertical {
          left: auto !important;
          right: 0;
        }
      }

      @include breakpoint(medium down) {
        padding-left: 25px;
      }

      &.current_page_item > a {
        color: $light-olive;
      }
    }

    li.menu-item-has-children {
      position: relative;

      @include breakpoint(medium down) {
        cursor: pointer;
      }

      & > a {
        @include breakpoint(medium down) {
          padding-left: 25px;
        }
      }

      @include breakpoint(medium down) {
        padding-left: 0;
      }

      ul.vertical {
        visibility: hidden;
        transition: 0.3s;
        position: absolute;
        left: -19px;
        top: 73px;
        width: 100%;
        margin-left: 0;
        // min-width: 231px;
        min-width: 300px;

        @include breakpoint(medium down) {
          visibility: visible;
          position: static;
          margin-top: 32px;
          display: none;
        }

        @include breakpoint(415 down) {
          margin-top: 13px;
        }

        &.open_dropdown {
        }
      }

      &:hover {
        @include breakpoint(medium up) {
          .dropdown {
            visibility: visible;
            transition: 0.1s;
          }
        }
      }

      .dropdown {
        background: #4f677d;
        margin-left: 20px;

        @include breakpoint(medium down) {
          background: $olive;
        }

        li {
          padding: 0;
          &:hover {
            a {
              color: $raspberry !important;
            }
            color: $raspberry !important;
          }
          &:after {
            display: none;
          }

          a {
            // padding: 15px 0;
            // padding-left: 30px;
            // padding: 20px;
            padding: 15px 20px;
            display: block;
            &:hover {
              color: $raspberry;
            }
          }

          &:not(:last-child) {
            border-bottom: 2px solid #ebebeb;
            box-shadow: 0px 1px 1px #3e5264;

            @include breakpoint(medium down) {
              box-shadow: none;
            }
          }
        }

        @include breakpoint(medium down) {
          margin-left: 0;
        }
      }
    }
  }
}

/* ------------------------------------
   Block: Form Top
------------------------------------- */

.header-form {
  .validation_error {
    display: none;
  }

  h3 {
    color: $raspberry;
    font-family: $font-alt;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 0;
    margin-right: 45px;
    padding-top: 7px;
    letter-spacing: 3px;
  }

  #gform_1 {
    display: flex;

    .gform_body {
      margin-bottom: 0;
    }

    textarea {
      //font-size: 18px !important;
    }

    input {
      //font-size: 18px !important;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #44464e;
        font-family: $font;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
      }

      &::-moz-placeholder {
        /* Firefox 19+ */
        color: #44464e;
        font-family: $font;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
      }

      &:-ms-input-placeholder {
        /* IE 10+ */
        color: #44464e;
        font-family: $font;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
      }

      &:-moz-placeholder {
        /* Firefox 18- */
        color: #44464e;
        font-family: $font;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
      }
    }

    label {
      display: none !important;
    }

    #field_1_1,
    #field_1_2 {
      margin-bottom: 0 !important;
      max-width: 261px !important;
      width: 100% !important;
      position: relative;

      span {
        input {
          padding: 0.2rem 1.25rem 0.55rem 1.25rem !important;
          border: 1px solid #d4d4d4;
          border-color: #d4d4d4;
        }
      }

      #validation_message_1_2,
      #validation_message_1_1 {
        position: absolute;
        left: 10px;
      }
    }

    #field_1_1 span#input_1_1_3_container input {
      padding: 0.5rem 1.25rem 0.55rem 1.25rem !important;
    }

    #gform_submit_button_1 {
      margin-left: 15px;
    }
  }

  .gform_footer.top_label {
    #gform_submit_button_1 {
      text-transform: initial;
      background-color: $raspberry;
      color: #ffffff;
      font-family: $font;
      font-size: 18px;
      font-weight: 700;
      line-height: 17px;
      border: 1px solid $white;
      transition: 0.3s;
      padding-top: 10.5px;
      padding-bottom: 10.5px;

      &:hover {
        background-color: #4f677d;
      }
    }
  }
}

.gform_wrapper .gform_body .gform_fields input {
  //padding: 0.3rem 1.25rem 0.45rem 1.25rem !important;
  padding: 0.54rem 1.25rem 0.53rem 1.25rem !important;
  border: 1px solid #d4d4d4;
  border-color: #d4d4d4;
}

.gform_wrapper .gform_footer .gform_button {
  display: inline-block;
  margin-left: 30px;
  background-size: 13px 13px;
  background-position: calc(100% - 7px) center;
}

//.close-form {
//	margin-left: 55px;
//	margin-top: 5px;
//	cursor: pointer;
//}

/* ------------------------------------
   Block: Stick Header
------------------------------------- */
body.not-top {
  .mainmenu {
    position: fixed;
    top: 137px;
    width: 100%;
  }
  &.sticky-shrinknav-wrapper {
    .mainmenu {
      top: 0;
    }
  }
}

.sticky-header {
  z-index: 100;
}
.mainmenu {
  z-index: 99;
}
body.not-top {
  .sticky-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    #header {
      transition: all 0.3s;
      background-position: -100%;
      padding: 0.4rem 0;

      .logo {
        img {
          max-width: 68%;
        }
      }
    }
  }
  .header-form {
    transition: all 0.3s;
  }

  .header-form.active {
    transition: all 0.3s;
    position: fixed;
    left: 0;
    top: 210px;
    z-index: 26;
    width: 100%;
  }

  #header {
    &:before,
    &:after {
      content: "";
    }
  }
}

/* ------------------------------------
   Block: Mobile Fixed Menu
------------------------------------- */

.mobile-fixed {
  #header {
    @include breakpoint(medium down) {
      background-position: -100%;
      padding: 0;
    }

    .row {
      position: relative;
    }

    .logo {
      @include breakpoint(medium down) {
        margin-left: 131px;
      }

      @include breakpoint(small down) {
        margin: 0;
        margin-top: 15px;
      }

      a img {
        @include breakpoint(medium down) {
          max-width: 67%;
        }

        @include breakpoint(small down) {
          max-width: 60%;
        }
      }
    }

    #mobile-menu {
      position: absolute;
      left: 0;
      height: 100%;
      padding: 19px 34px;
      cursor: pointer;
      background: #8ea34c;
      justify-content: center;
      align-items: center;
      @include breakpoint(small down) {
        width: 116px;
        height: 126px;
        top: 0;
        left: 15px;
        padding-left: 25px;
      }
    }
  }
}

.dropdown-button {
  transition: 0.3s;

  svg {
    width: 12px;
    fill: $white;
    transition: 0.3s;

    @include breakpoint(415 down) {
      width: 10px;
    }
  }

  top: 12px;

  @include breakpoint(small down) {
    top: 9px;
  }

  @include breakpoint(415 down) {
    top: -1px;
  }

  &.active_arrow {
    transition: 0.3s;

    svg {
      transform: rotate(90deg);
      transition: 0.3s;
    }
  }
}

/* ------------------------------------
   Block: Shadow Logo
------------------------------------- */

.mobile-fixed #header .logo a img {
  // @include breakpoint(330 down) {
  //   max-width: 58% !important;
  // }
}
