a {
  color: $raspberry;
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: #4f677d;
  }
}

a.white {
  color: $white-100;
  &:hover {
    color: $gray-300;
  }
}
