@mixin list() {
  margin: 0;
  li {
    position: relative;
    padding-left: 15px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 5px;
      width: 5px;
      top: 14px;
      left: 0;
      transform: translateY(-50%);
      border-radius: 100%;
    }
  }
}

ul,
ol {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    list-style-type: none;
    font-size: $paragraph-font-size;
    line-height: 25px;
  }
}

ol {
  margin-left: 37px;
  li {
    padding-left: 3px;
    list-style-type: decimal;
    font-size: $paragraph-font-size;
    line-height: 25px;
  }
}

.list {
  @include list();
}
