h1,
.heading-1,
.smg-text.heading-1 * {
  margin: 0;
  font-family: $font-alt;
}

h2,
.heading-2,
.smg-text.heading-2 * {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-alt;
}

h3,
.heading-3,
.smg-text.heading-3 *,
h4,
.heading-4,
.smg-text.heading-4 *,
h5,
.heading-5,
.smg-text.heading-5 *,
h6,
.heading-6,
.smg-text.heading-6 * {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-alt;
}
