a {
  color: map-get($palette, "gray-600");
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: map-get($palette, "gray-100");
  }
}

a.white {
  color: $white-100;
  &:hover {
    color: $gray-300;
  }
}
