// Page Styles
.front-page {

	@include breakpoint(medium down) {
		padding-top: 112px;
	}

	@include breakpoint(medium down) {
		padding-top: 123px;
	}

	@include breakpoint(small down) {
		padding-top: 183px;
	}

	.left-block {
		width: 100%;

		.inner {
			margin-left: auto;
			margin-right: 0;
		}
	}

	.right-block {
		width: 100%;

		.inner {
			margin-left: 0;
			margin-right: auto;
		}
	}
}
.form-wrapper-top{
	.gform_wrapper .gform_body .gform_fields {
		display: flex;
		flex-wrap: nowrap;
	}
}
body.sticky-shrinknav-wrapper{
	.header-form.active{
		top: 137px;
	}

}
// Front Hero
.front-hero { 
	//display: flex;
	//height: calc(100vh + 190px);
	//height: calc(100vh + 134px);
	//align-items: center;
	//justify-content: center;
	background-color: #ccc;
	position: relative;
	margin-bottom: 12px;
	padding-top: 56.25%;
	@include breakpoint(large up){
		margin-top: 190px;
	}
	@include breakpoint(medium only) {
		height: 673px;
	}


	@include breakpoint(small down) {
		height: 378px;
		padding-top: 0;
	}

	.video-home {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.arrow-down {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;

		width: 80px;
		text-align: center;
		height: 73px;
		background-color: $raspberry;

		svg {
			//transform: translate(0px, 30px);
			animation: bounce 2s infinite;
		}

		@include breakpoint(410 down) {
			width: 65px;
			height: 59px;
		}

	}

	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			transform: translateY(0);
		}
		40% {
			transform: translateY(-19px);
		}
		60% {
			transform: translateY(-10.5px);
		}
	}

	.row {
		@include smg-row();
	}

	h1 {
		color: $white;
		font-family: $font-alt;
		font-size: 100px;
		font-style: italic;
		font-weight: 400;
		line-height: 109px;
		text-align: center;
		position: relative;
		
		
		@include breakpoint(medium only){
			max-width: 620px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 46px;
			font-size: 100px;
			font-weight: 600;
			line-height: 100px;
		}

		@include breakpoint(small down) {
			margin-bottom: 26px;
			font-size: 55px;
			font-weight: 600;
			line-height: 61px;
		}
	}

	p {
		color: $white;
		font-family: $font-alt;
		font-size: 32px;
		font-weight: 400;
		line-height: 43px;
		text-align: center;
		position: relative;
		@include breakpoint(medium down) {
			max-width: 470px;
			margin: 0 auto;
			line-height: 41px;
		}
		@include breakpoint(small down) {
			font-size: 21px;
			line-height: 28px;
			padding-bottom: 0;
		}
	}
}

// Tour
.tour {
	padding: 103px 0 107px;
	background-color: #e8eb9b;
	margin-bottom: 12px;

	@include breakpoint(small down) {
		padding: 120px 0;
		padding-top: 60px;
	}

	.row {
		@include smg-row();
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $raspberry;
		font-family: $font-alt;
		font-size: 55px;
		font-style: italic;
		font-weight: 400;
		line-height: 60px;
		text-align: center;
		margin-bottom: 50px;
		letter-spacing: 3px;

		@include breakpoint(small down) {
			display: block;
			margin-bottom: 25px;
		}

		i {
			margin-right: 1.7rem;

			@include breakpoint(small down) {
				display: block;
				margin-right: 0;
			}
		}
	}

	p {
		text-align: center;
	}

	.middle-form-wrapper {
		.grecaptcha-badge {
			display: none;
		}

		.validation_error {
			display: none;
		}

		#validation_message_2_3 {
			display: none;
		}

		#gform_2 {
			display: flex !important;
			justify-content: center !important;

			@include breakpoint(medium down) {
				flex-direction: column;
			}

			input {
				padding: 0.51rem 1.25rem 0.56rem !important;

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #44464E;
					font-family: $font;
					font-size: 18px;
					font-weight: 300;
					line-height: 23px;
				}

				&::-moz-placeholder { /* Firefox 19+ */
					color: #44464E;
					font-family: $font;
					font-size: 18px;
					font-weight: 300;
					line-height: 23px;
				}

				&:-ms-input-placeholder { /* IE 10+ */
					color: #44464E;
					font-family: $font;
					font-size: 18px;
					font-weight: 300;
					line-height: 23px;
				}

				&:-moz-placeholder { /* Firefox 18- */
					color: #44464E;
					font-family: $font;
					font-size: 18px;
					font-weight: 300;
					line-height: 23px;
				}
			}

			.gform_body {
				margin-bottom: 0;

				#gform_fields_2 {
					display: flex !important;
					margin-bottom: 0 !important;
					max-width: 780px;
					#field_2_1,
					#field_2_2 {
						width: 360px !important;
						border: 1px solid #d4d4d4;

						@include breakpoint(medium down) {
							width: calc(50% - 15px) !important;
						}

						@include breakpoint(small down) {
							width: 100% !important;
						}
					}

					#field_2_1 {
						@include breakpoint(small down){
							margin-bottom: 13px;
						}
					}

					#field_2_2 {
						margin-left: 30px;
						
						
						@include breakpoint(small down){
							margin-bottom: 15px;
						}
					}

					label {
						display: none;
					}

					#field_2_3 {
						@include breakpoint(medium down){
							margin-bottom: .5rem;
						}
					}
				}
			}
		}
	}

	.middle-form-wrapper {
		.gform_wrapper {
			.gform_footer.top_label {
				#gform_submit_button_2 {
					
					padding: 0.42rem 1.25rem 0.53rem !important;
					@include breakpoint(large up){
						width: 360px;
						margin-left: 30px;
					}
					@include breakpoint(medium down){
						width: 100%;
					}
					@include breakpoint(small down){
						padding: 0.42rem 1.25rem 0.53rem .5rem !important;

					}
				}
			}
		}
	}

	.gform_wrapper {
		.gform_footer {
			height: 0;

			.gform_button {
				color: #ffffff;
				font-family: $font;
				font-size: 18px;
				font-weight: 700;
				line-height: 23px;
				background-color: $raspberry;
				//padding: 7px 85px !important;
				text-transform: inherit;
				background-size: 13px 13px;
				background-position: calc(100% - 6%) 52%;
				transition: .3s;
				border: solid 1px $white;
				padding: 0.3rem 1.25rem 0.45rem !important;

				&:hover {
					background-color: #4F677D;
				}

				@include breakpoint(medium down) {
					margin-left: 0;
					background-position: calc(100% - 36%) 52%;
				}
				@include breakpoint(small down) {
					padding: 7px 28px 7px 20px !important;
					background-position: calc(100% - 23%) 51%;
				}

				@include breakpoint(380 down) {
					padding: 7px 28px !important;
					background-position: calc(100% - 21%) 51%;
				}

				@include breakpoint(340 down) {
					padding: 7px 28px !important;
					background-position: calc(100% - 19%) 51%;
				}
			}
		}
	}
}


// Discover
.discover {
	margin-bottom: 12px;

	@include breakpoint(medium down) {
		margin-bottom: 0;
	}

	.row {
		display: flex;
		@include breakpoint(medium down) {
			flex-direction: column;
			align-items: center;
		}

		.left-block {
			max-width: calc(50% - 6px);
			margin-right: 6px;

			@include breakpoint(medium down) {
				margin-right: 0;
			}
		}

		.half {
			@include breakpoint(medium down) {
				max-width: 100%;
			}
		}
	}

	.left-block {
		padding: 84px 0;
		background-color: #4f677d;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		position: relative;

		@include breakpoint(small down) {
			padding: 75px 0;
		}

		.inner {
			@include breakpoint(medium down) {
				margin: 0 auto;
			}

			@include breakpoint(small down) {
				max-width: 380px;
			}
		}

		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 20px;
			top: 0;
			left: 0;
			background: #8ea34c;
		}

		h2 {
			color: $white;
			font-family: $font-alt;
			font-size: 55px;
			font-style: italic;
			font-weight: 400;
			line-height: 60px; 
			@include breakpoint( medium down ){
				margin-bottom: 20px;
				text-align: center;
  		}
			@include breakpoint(small down) {
				text-align: center;
				margin-bottom: 30px;  
			}
		}

		p {
			color: $white;
			font-family: $font;
			font-size: 19px;
			line-height: 29px;
			font-weight: 400;
		}

		ul {
			margin-left: 21px;
			padding-right: 30px;

			@include breakpoint(small down) {
				margin-left: 40px;
			}
		}

		li {
			list-style-type: disc;
			color: $white;
			font-family: $font;
			font-size: 19px;
			font-weight: 400;
			line-height: 29px;
			padding-left: 2px;
		}

		.learn-more {
			color: $white;
			font-family: $font;
			font-size: 18px;
			font-weight: 700;
			display: inline-block;
			//margin-left: 74px;
			margin-top: 30px;
			background-repeat: no-repeat;
			background-position: 86% 55%;
			transition: .3s; 
			> svg{
				margin-left: 15px;
				top: 1px;
				position: relative;
				width: 8px;
				height: 14px;
				path {
					fill: $light-olive;
				}
			}
			&:hover {
				color: $white;
				background-color: $raspberry;
			}

			@include breakpoint(small down) {
				margin-left: 0;
				margin-top: 35px;
				width: 100%;
				text-align: center;
			}
		}
	}

	.right-block {
		width: calc(50% - 6px);
		margin-right: 0;
		margin-left: 6px;
		padding: 80px 0 5px;
		background-color: #ccc;
		display: flex;
		align-items: flex-end;
		position: relative;
		overflow: hidden;
		flex-direction: column;
		justify-content: flex-end;
		@include breakpoint(medium down) {
			width: 64%;
			margin-left: 0;
		}

		@include breakpoint(small down) {
			width: 100%;
		}

		&:before {
			content: '';
			padding: 28%;
		}

		&:after {
			content: '';
			background-image: linear-gradient(to right, rgba(193, 208, 131, 0) 40%, #4f677d 95%);
			//background-image: linear-gradient(90deg, #00c1d000, #8EA34C);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 6;
			bottom: 0;

			@include breakpoint(medium down){
			    background-image: none;
			}

			@include breakpoint(small down) {
				background-image: none;
			}
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: auto;
			max-width: none;
			height: 100%;
		}

		.half-row {
			position: relative;

			&:before {
				content: '';
				//background: -webkit-gradient(linear, left top, left bottom, from(#79000000), to(rgba(0, 0, 0, 0.47)));
				background: linear-gradient(180deg, #79000000, rgba(0, 0, 0, 0.47));
				position: absolute;
				bottom: -8px;
				left: -532px;
				right: 0;
				z-index: 1;
				width: 500% !important;
				height: 200px;
				overflow: hidden;
			}

			@include breakpoint(medium down) {
				margin: 0 auto;
			}
		}

		h2 {
			color: $white;
			font-family: $font-alt;
			font-size: 175px;
			font-weight: 600;
			font-style: italic;
			line-height: .8;
			padding-left: 20px;
			position: relative;
			z-index: 10;
			margin-bottom: 30px;
			@include breakpoint(medium down) {
				padding-left: 0;
				text-align: center;
			}

			@include breakpoint(900 down) {
				font-size: 130px;
			}

			@include breakpoint(small down) {
				font-size: 85px;
			}
		}
	}
}

// Explore
.explore {
	margin-bottom: 12px;

	@include breakpoint(medium down) {
		margin-bottom: 0;
	}

	.row {
		display: flex;

		@include breakpoint(medium down) {
			flex-direction: column;
			align-items: center;
		}
	}

	.left-block {
		max-width: calc(50% - 6px);
		margin-right: 6px;
		padding: 80px 0;
		background-color: #ccc;
		position: relative;
		padding-top: 0;
		padding-bottom: 35px;

		&:after {
			content: '';
			background: linear-gradient(180deg, #79000000, rgba(0, 0, 0, 0.47));
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			width: 100%;
			height: 200px;
		}

		@include breakpoint(medium down) {
			max-width: 64%;
			margin-right: 0;
		}

		@include breakpoint(small down) {
			max-width: 100%;
			padding-bottom: 0;
		}

		.half-row {
			max-width: 100%;
		}

		&:before {
			content: '';
			background-image: linear-gradient(to left, rgba(193, 208, 131, 0) 30%, #952361 103%);
			//background-image: linear-gradient(90deg, #00c1d000, #8EA34C);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 6;
			bottom: 0;

			@include breakpoint(medium down) {
				background-image: none;
			}
		}

		& > img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		h2 {
			text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
			color: $white;
			font-family: $font-alt;
			font-size: 175px;
			font-style: italic;
			font-weight: 600;
			line-height: 115px;
			padding-right: 43px;
			text-align: right;
			margin-bottom: 30px;
			@include breakpoint(medium down) {
				text-align: center;
				padding-right: 0;

			}

			@include breakpoint(900 down) {
				font-size: 130px;
			}


			@include breakpoint(small down) {
				font-size: 85px;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.wrapper-video {
			position: relative;
			z-index: 8;
			padding-top: 16%;

			@include breakpoint(medium down) {
				transform: translateY(-40px);
			}

			@include breakpoint(small down) {
				padding-top: 31px;
				transform: translateY(0);
			}


			.view-video {
				text-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
				color: $white;
				font-family: $font-alt;
				font-size: 55px;
				font-style: italic;
				font-weight: 400;
				line-height: 60px;
				padding-left: 50%;
				margin-top: 10px;
				margin-bottom: 46px;

				@include breakpoint(medium down) {
					padding-left: 0;
					text-align: center;
					margin-top: 15px;
					margin-bottom: 25px;
				}

				@include breakpoint(small down) {
					font-size: 35px;
					margin-bottom: 5px;
				}
			}

			a {
				width: 197px;
				height: 197px;
				padding-left: 54%;

				@include breakpoint(medium down) {
					display: block;
					padding-left: 0;
					margin: 0 auto;
					text-align: center;
				}

				@include breakpoint(small down) {
					height: 132px;
					width: 132px;
				}

				img {
					width: 197px;
					height: 197px;
					transition: .3s;

					&:hover {
						opacity: .8;
					}

					@include breakpoint(small down) {
						width: 132px;
						height: 132px;
					}
				}
			}
		}

	}

	.right-block {
		max-width: calc(50% - 6px);
		margin-left: 6px;
		padding: 60px 0 122px;
		padding-left: 25px;
		background-color: $raspberry;
		position: relative;
		background-repeat: no-repeat;
		background-position: left top;

		@include breakpoint(medium down) {
			max-width: 100%;
			margin-left: 0;
			background-position: -100%;

		}

		@include breakpoint(small down) {
			padding-bottom: 70px;
			padding-left: 0;
		}

		.inner {
			margin-top: 21px;
			padding-left: 25px;
			@include breakpoint(medium down) {
				margin: 0 auto;
				max-width: 767px;

			}

			@include breakpoint(small down) {
				max-width: 380px;
				padding: 0 30px;
			}
		}


		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			display: block;
			height: 20px;
			background: $light-olive;
		}


		h2 {
			color: $white;
			font-family: $font-alt;
			font-size: 55px;
			font-style: italic;
			font-weight: 400;
			line-height: 60px;
			max-width: 405px;

			@include breakpoint(medium down) {
				max-width: 100%;
				margin-bottom: 30px;
				font-size: 50px;
				line-height: 57px;
				text-align: center;
			}

			@include breakpoint(small down) {
				font-size: 50px;
			}
		}

		.explore-describe {
			max-width: 474px;
			color: $white;
			font-family: $font;
			font-size: 19px;
			font-weight: 400;
			line-height: 29px;
			margin-bottom: 44px;

			@include breakpoint(medium down) {
				max-width: none;
				margin-bottom: 42px;
			}
		}

		.icon-groups {
			@include breakpoint(medium down) {
				display: flex;
				justify-content: space-between;
			}

			@include breakpoint(small down) {
				flex-wrap: wrap;
			}

			.icon-group {
				display: flex;
				align-items: center;

				.btn-first {
					margin-left: 28px;
					@include breakpoint(medium down) {
						margin-left: 15px;
					}
					@include breakpoint(small down) {
						margin-left: 11px;
					}
				}

				.btn-second {

					@include breakpoint(medium down) {
						margin-left: 13px;
					}
				}

				&:not(:last-child) {
					margin-bottom: 50px;
				}

				@include breakpoint(medium down) {
					margin-bottom: 0 !important;
				}

				@include breakpoint(small down) {
					margin-bottom: 25px !important;
				}

				.btn {
					background-repeat: no-repeat;
					background-position: 83% 53%;
					transition: .3s;
					> svg{
						margin-left: 15px;
						top: 1px;
						position: relative;
						width: 8px;
						height: 14px;
						path {
							fill: $light-olive;
						}
					}
					&:hover {
						background-color: #4F677D;
					}

					@include breakpoint(small down) {
						min-width: 220px;
						padding: 0.5rem 0.5rem;
						background-position: 193px 48%;
					}

					@include breakpoint(350 down) {
						min-width: 195px;
						background-position: 175px 48%;
					}
				}
			}
		}


		.icon {
			display: block;
			flex: 0 0 auto;
			margin-right: 1rem;
			line-height: 0;
		}

		.btn {
			display: block;
			color: $white;
			font-family: $font;
			font-size: 18px;
			font-weight: 700;
			line-height: 23px;
			min-width: 264px;
			margin-left: 30px;
			text-align: center;
			
			@include breakpoint(medium only) {
				min-width: 245px;
			}

			@include breakpoint(small down) {
				min-width: 254px;
			}

			@include breakpoint(360 down) {
				min-width: 229px;
			}

			@include breakpoint(345 down) {
				min-width: 200px;
				max-width: 200px;
				padding: 0.5rem 2rem;
			}
		}
	}
}

// Meet
.meet {
	.row {
		display: flex;

		@include breakpoint(medium down) {
			flex-direction: column;
			align-items: center;
		}

	}

	.left-block {
		max-width: calc(50% - 6px);
		margin-right: 6px;
		padding: 111px 0;
		background-color: #8ea34c;
		background-repeat: no-repeat;
		background-position: top right;

		@include breakpoint(medium down) {
			max-width: 100%;
			margin-right: 0;
		}

		@include breakpoint(small down) {
			padding: 56px 0;
		}

		.inner {
			padding-right: 35px;

			@include breakpoint(medium down) {
				max-width: 720px;
				margin: 0 auto;
				padding-right: 0;
			}

			@include breakpoint(small down) {
				//padding-right: 15px;
				@include smg-row();
				padding: 0 30px;
			}
		}

		h2 {
			color: $white;
			font-family: $font-alt;
			font-size: 55px;
			font-style: italic;
			font-weight: 400;
			line-height: 60px;

			@include breakpoint(medium down) {
				text-align: center;
				margin-bottom: 30px;
			}

			@include breakpoint(small down) {
				font-size: 50px;
				line-height: 54px;
				text-align: center;
			}
		}

		.entries {
			margin-bottom: 50px;
		}

		.entry-content {
			//height: 200px;
			//background-color: #eee;
			border-radius: 6px;
			color: $white;
			font-family: $font;
			font-size: 19px;
			font-weight: 400;
			line-height: 29px;
		}

		.entry-resident {
			text-align: right;
			color: $white;
			font-family: $font;
			font-size: 19px;
			font-weight: 400;
			line-height: 29px;
		}

		.actions {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: $white;
			font-family: $font;
			font-size: 18px;
			font-weight: 700;
			line-height: 23px;
			transition: .3s;
			position: relative;

			&:after {
				content: url("../images/svg/arrow.svg");
				// top: 26%;
				margin-left: 15px;
				z-index: 5;
			}

			&:hover {
				background-color: #4F677D
			}

			@include breakpoint(small down) {
				width: 100%;
				text-align: center;
			}

			@include breakpoint(360 down) {
				padding: 0.5rem 2rem;
			}
		}

		.entries-nav {
			display: flex;
			flex: 0 0 auto;
			visibility: hidden;
			transition: visibility .2s;

			@include breakpoint(medium down) {
				visibility: visible;
			}

			@include breakpoint(small down) {
				display: none;
			}


			.arrow {
				display: flex;
				height: 80px;
				width: 74px;
				align-items: center;
				justify-content: center;
				background-color: rgba(255, 255, 255, 0.3);
				border: 1px solid #fff;
				color: #fff;
				cursor: pointer;
				transition: .3s;
				@include breakpoint(medium down) {
					height: 42px;
					width: 38px;
				}
				svg {
					width: 34px;
					height: 28px;
					@include breakpoint(medium down) {
						height: 14px;
						width: 17px;
					}
				}

				&:hover {
					opacity: .8;
				}

			}

			.arrow-left {
				margin-right: 10px;
				transform: rotate(180deg);
			}

		}

		&:hover {
			.actions {
				.entries-nav {
					visibility: visible;
				}
			}
		}
	}

	.right-block {
		max-width: calc(50% - 6px);
		margin-left: 6px;
		@include breakpoint(medium down) {
			max-width: 64%;
			height: 530px;
			margin-left: 0;
		}

		@include breakpoint(small down) {
			max-width: 100%;
		}

		.residents {
			position: relative;
			height: 100%;

			h2 {
				max-width: 405px;
				text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
				color: #ffffff;
				font-family: $font-alt;
				font-size: 100px;
				font-style: italic;
				font-weight: 600;
				line-height: 83px;
				position: relative;
				z-index: 12;

				@include breakpoint(medium down) {
					max-width: 100%;
					font-size: 70px;
				}

				@include breakpoint(small down) {
					max-width: 180px;
					margin: 0 auto;
					font-size: 50px;
					text-align: center;
					line-height: 56px;
				}
			}

			.resident-name {
				color: $white;
				font-family: $font;
				font-size: 26px;
				font-weight: 400;
				line-height: 33px;
				position: relative;
				z-index: 12;

				@include breakpoint(medium down) {
					max-width: 250px;
					margin-bottom: 65px;
					span {
						display: block;
					}
				}

				@include breakpoint(small down) {
					margin: 0 auto;
					margin-bottom: 25px;
					text-align: center;
				}


			}

			.resident {
				background-size: cover;
				background-position: center;
				position: relative;
				background-repeat: no-repeat;
				padding-bottom: 0;
				padding-left: 6rem;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				@include breakpoint(small down) {
					padding-left: 0;
					padding-right: 0;
				}

				@include breakpoint(460 down) {
					background-position: 24% 50%
				}

				&:before {
					content: '';
					background-image: linear-gradient(to right, rgba(193, 208, 131, 0) 65%, #8ea34c 100%);
					//background-image: linear-gradient(90deg, #00c1d000, #8EA34C);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					z-index: 2;
					bottom: 0;

					@include breakpoint(medium down) {
						background-image: none;
					}
				}

				&:after {
					content: '';
					background: linear-gradient(180deg, #79000000, rgba(0, 0, 0, 0.47));
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 1;
					width: 100%;
					height: 200px;
				}
			}

			button[type="button"] {
				visibility: hidden !important;
				transition: .3s;

				&:hover {
					opacity: .8;
				}

				@include breakpoint(medium down) {
					visibility: visible !important;
					top: 79%;
					width: 37px;
					height: 41px;
					padding: 19px 17px;
				}

				@include breakpoint(small down) {
					display: none !important;
				}


				svg {
					@include breakpoint(medium down) {
						width: 17px;
						height: 14px;
						transform: translate(-7px, -6px);
					}
				}

			}

			.slick-prev {
				@include breakpoint(medium down) {
					left: 77%;
				}
			}

			.slick-next {
				@include breakpoint(medium down) {
					right: 11%;
				}

				@include breakpoint(1005 down) {
					right: 10%;
				}

				@include breakpoint(1005 down) {
					right: 9%;
				}

				@include breakpoint(870 down) {
					right: 8%;
				}

				@include breakpoint(805 down) {
					right: 7%;
				}
			}

			&:hover {
				button[type="button"] {
					visibility: visible !important;

				}
			}
		}

		.slick-list {
			height: 100%;
		}

		.slick-track {
			height: 100%;
		}

		.resident {
			height: 100%;
			padding: 4rem 2rem;
			//background-color: #eee;
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background-color: rgba(255, 255, 255, 0.3);
			border: 1px solid #fff;
			color: #fff;
			z-index: 2;
		}

		.slick-prev {
			left: 0;
			padding: 24px 19px;
		}

		.slick-next {
			right: 0;
			padding: 24px 19px;
		}

		h2 {
			color: #fff;
		}
	}


}

// Questions
.questions {
	padding: 82px 0;

	@include breakpoint(small down) {
		padding: 48px 0;
	}

	.row {
		@include smg-row();

		@include breakpoint(medium down) {
			padding: 0 8px;
		}
	}

	h2 {
		text-align: center;
		color: $raspberry;
		font-family: $font-alt;
		font-size: 55px;
		font-style: italic;
		font-weight: 400;
		line-height: 60px;

		@include breakpoint(small down) {
			font-size: 50px;
		}
	}

	.toggles {
		max-width: 770px;
		margin: 0 auto;
		margin-top: 80px;
	}

	.toggle {
		margin-bottom: 2rem;

		h4 {
			position: relative;
			margin: 0;
			padding: 0.75rem 1rem;
			background-color: #fff;
			border: solid 1px #4f677d;
			font-family: $font;
			font-size: 19px;
			font-weight: 400;
			line-height: 29px;
			z-index: 2;
			cursor: pointer;
			transition: .3s;

			&:hover {
				opacity: .8;
			}

			@include breakpoint(small down) {
				padding-right: 53px;
			}

			@include breakpoint(360 down) {
				padding-right: 56px;
			}

			&:before {
				content: url("../images/svg/cross.svg");
				position: absolute;
				right: 25px;
				top: 57%;
				transform: translateY(-50%);
				transition: .3s;
			}
		}

		.body {
			height: 0;
			margin-top: -1rem;
			background-color: #f1f1f1;
			overflow: hidden;
			color: #000;
			transition: 300ms;
			font-family: $font;
			font-size: 19px;
			font-weight: 400;
			line-height: 32px;
			padding: 0px 14px 0px 19px;

			a {
				color: $raspberry;
				transition: .3s;

				&:hover {
					color: #718096;
				}
			}
		}

		&.active {
			.body {
				height: auto;
				margin-top: 0;
				padding: 13px 14px 23px 19px;

			}

			h4 {
				transition: .3s;

				&:before {
					content: url("../images/svg/line.svg");
					position: absolute;
					right: 25px;
					top: 57%;
					transform: translateY(-50%);
					transition: .3s;
				}
			}
		}
	}
}

// Gallery
.gallery {
	background-color: #ebebeb;
	margin-bottom: 8px;

	@include breakpoint(medium down) {
		background-color: $white;
		margin-bottom: 0;
	}

	.row {
		@include smg-row();
		display: flex;
		justify-content: center;
		padding-left: 0;
		padding-right: 0;

		@include breakpoint(medium down) {
			flex-wrap: wrap;
		}

		@include breakpoint(small down) {
			padding: 0 8px;
		}

		img {
			//height: 200px;
			width: calc((100% / 4) - 15px);
			margin-right: 10px;
			background-color: #fefefe;

			&:nth-child(odd) {
				margin-right: 10px !important;

				@include breakpoint(small down) {
					margin-right: 0 !important;
				}
			}

			@include breakpoint(medium down) {
				width: calc((100% / 2) - 15px);
				margin: 0;
				height: 320px;
			}

			@include breakpoint(small down) {
				width: 100%;
				margin: 0;
				margin-bottom: 15px;
			}

			@include breakpoint(360 down) {
				height: 285px;
			}

			&:nth-child(odd) {
				margin-right: 15px;

				@include breakpoint(small down) {
					margin-right: 0;
				}
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

// Articles
.articles {
	padding-bottom: 120px;

	@include breakpoint(medium down) {
		padding-bottom: 50px;
	}

	.row {
		background-repeat: no-repeat;
		background-position: 96% 0%;
	}

	//padding: 80px 0 120px;
	background-color: #4f677d;


	h2 {
		padding-top: 80px;
		margin-bottom: 3rem;
		text-align: center;
		color: $white;
		font-family: $font-alt;
		font-size: 55px;
		font-style: italic;
		font-weight: 400;
		line-height: 60px;
	}

	.entries {
		display: flex;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint(medium down) {
			flex-direction: column-reverse;
			align-items: center;
		}
		img {
			border: 1px solid #fff;
		}
		.entry {
			width: 33.3333%;
			margin-right: 30px;

			@include breakpoint(medium down) {
				margin-right: 0;
				width: 337px;
				margin-bottom: 40px;
			}

			@include breakpoint(360 down) {
				width: 300px;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}

		.img {
			display: block;
			//height: 178px;
			width: 100%;
			margin-bottom: 1rem;
		}

		h3 {
			a {
				color: $white;
				font-family: $font;
				font-size: 24px;
				font-weight: 400;
				letter-spacing: -0.1px;
				line-height: 32px;
				transition: .3s;

				&:hover {
					opacity: .8;
				}
			}
		}

		.readmore {
			color: #e7ec90;
			font-size: 19px;
			transition: .3s;
			font-weight: 400;

			&:hover {
				color: $white;
			}
		}
	}
}

// Associatations
.associatations {
	padding: 46px 0;

	@include breakpoint(medium down) {
		padding-bottom: 10px;
	}

	.row {
		display: flex;
		align-self: center;
		justify-content: space-between;
		align-items: baseline;

		@include breakpoint(medium down) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.logo {
		//height: 100px;
		//width: 100px;
		//background-color: #ccc;
		//border-radius: 100%;

		@include breakpoint(medium down) {
			flex-basis: 25%;
			text-align: center;
			margin-bottom: 20px;
		}

		@include breakpoint(small down) {
			// margin-left: 15px;
			// margin-right: 15px;
			// flex-basis: 23%;
			margin-left: 11px;
			margin-right: 11px;
			flex-basis: auto;
			margin-bottom: 30px;
		}

		a {
			cursor: pointer;
			transition: .3s;

			&:hover {
				opacity: .8;
			}
		}
	}
}

// Get In Touch
.get-in-touch {
	padding: 100px 0;
	background-color: #e8eb9b;

	.row {
		@include smg-row();
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $raspberry;
		font-family: $font-alt;
		font-size: 55px;
		font-style: italic;
		font-weight: 400;
		line-height: 60px;
		text-align: center;
		margin-bottom: 45px;
		letter-spacing: 3px;

		@include breakpoint(small down) {
			flex-direction: column;
			max-width: 285px;
			margin: 0 auto;
			margin-bottom: 45px;
			letter-spacing: 3px;
		}

		i {
			margin-right: 1rem;

			@include breakpoint(small down) {
				margin-right: 0;
			}
		}
	}

	p {
		text-align: center;
	}

	/* ------------------------------------
	   Block: footer form
	------------------------------------- */

	.form-footer-wrap {

		#gform_wrapper_3 {
			display: none;
		}

		.validation_error {
			display: none;
		}

		.gform_wrapper .gform_body .gform_fields .gfield.field_description_below .gfield_description {
			margin-top: 0.75rem;
			position: absolute;
			left: 0;
			top: 28px;
		}

		.get_touch_btn {
			text-align: center;

			p {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				background: #952361;
				position: relative;
				text-transform: initial;
				transition: .3s;
				max-width: 373px;
				margin: 0 auto;
				cursor: pointer;
				color: white;
				font-size: 18px;
				font-weight: 700;
				line-height: 23px;
				width: 100%;
				font-family: $font;
				border: 1px solid $white;

				&:before {
					content: url("../images/svg/arrow.svg");
					position: absolute;
					right: 30%;
					top: 22%;
					z-index: 5;
				}

				&:hover {
					background: #718096;
				}

			}
		}

		form {
			position: relative;

			textarea {
				border: 1px solid #d4d4d4;
			}

			label {
				display: none !important;
				position: relative;
			}

			.gform_body {
				//display: none;
			}

			#gform_fields_3 {
				.gfield {
					max-width: 372px;
					width: 100%;
					margin-right: 27px;

					input {
						//padding-left: 10px !important;
					}

					@include breakpoint(medium down) {
						max-width: 100%;
						margin-right: 0;
					}

					&:nth-child(3) {
						margin-right: 0;
					}

					&#field_3_4 {
						max-width: 772px;
						width: 100%;
						margin-top: 2px;

						textarea {
							height: 40px;
							padding: 5px 10px;
							resize: none;
							padding-top: 7px;
							border: 1px solid #d4d4d4;
							padding-left: 20px;
							font-size: 18px;

							@include breakpoint(medium down) {
								height: 90px;
								resize: none;
							}
						}
					}
				}
			}

			.gform_footer {
				position: static;
				text-align: center;
				margin: 0 auto;
				width: 373px;
				
				&:before {
					content: url("../images/svg/arrow.svg");
					position: absolute;
					right: 43%;
					top: 25%;
					z-index: 5;
					line-height:0;
					@include breakpoint(medium down) {
						top: 50%;
						transform: translateY(-50%);
						right: 39%;
					}
				}


				@include breakpoint(small down) {
					width: 100%;
				}

				input {
					margin-left: 0;
					height: 40px;
					background: $raspberry;
					position: relative;
					text-transform: initial;
					transition: .3s;
					font-size: 18px;
					font-weight: bold;
					border: 1px solid $white;
					padding-top: 9.5px;
					padding-bottom: 10.5px;

					&:hover {
						background: #4F677D;
					}
				}
			}

			.gform_footer {
				//display: block;
				position: absolute;
				right: 0;
				width: 370px;
				margin-left: 0;
				top: 65px;

				&:before {
					content: url("../images/svg/arrow.svg");
					position: absolute;
					right: 30%;
					top: 24%;
					z-index: 5;

					@include breakpoint(medium down) {
						top: 50%;
						right: 37%;
						transform: translateY(-50%);
					}

					@include breakpoint(small down) {
						// top: 92%;
						right: 26%;
					}

					@include breakpoint(380 down) {
						// top: 92%;
						right: 23%;
					}
				}

				@include breakpoint(medium down) {
					position: relative; 
					top:0;
					width: 100%;
					text-align: center;
				}
			}

		}
	}
}

/* ------------------------------------
   Block: Safari
------------------------------------- */

@media not all and (min-resolution: .001dpcm) {
	.middle-form-wrapper {
		#gform_fields_2 {
			li {
				input {
					border: none;
				}
			}
		}
	}

	.form-footer-wrap {
		.gform_body {
			#gform_fields_3 {
				li {
					input, textarea {
						border: none
					}
				}
			}
		}
	}

	.get-in-touch .form-footer-wrap form #gform_fields_3 .gfield#field_3_4 textarea {
		border: none;
	}

	/* ------------------------------------
	   Block: Placeholder
	------------------------------------- */

	input {
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			line-height: normal;
		}
	}
}

/* ------------------------------------
   Block: Mozilla
------------------------------------- */

@-moz-document url-prefix() {
	.get-in-touch .form-footer-wrap form .gform_footer {
		top: 70px !important;
	}
	.get-in-touch .form-footer-wrap form #gform_fields_3 .gfield#field_3_4 {
		margin-top: 6.5px;
	}

	.form-wrapper-top {
		.gform_footer {
			input.gform_button {
				padding: 7.4px !important;
				background-position: calc(100% - 8px) 56%;
				margin-top: 0px !important;
				background-size: auto;
			}
		}
	}

	.middle-form-wrapper {
		.gform_footer {
			input.gform_button {
				padding: 6px 85px !important;
			}
		}
	}

	.discover .left-block .learn-more {
		padding-bottom: 9px;
	}

	.explore .right-block .icon-groups .icon-group .btn {
		padding-bottom: 10px;
		background-position: 85% 50%;
	}

	.meet .left-block a {
		padding-bottom: 9px;
	}

	.gform_wrapper .gform_body .gform_fields input {
		padding: 0.51rem 1.25rem !important;
	}

	.get-in-touch .form-footer-wrap form .gform_footer {
		top: 71px;
	}

	//.close-form {
	//	svg {
	//		width: 39px;
	//		height: 40px;
	//	}
	//}

	.get-in-touch .form-footer-wrap form .gform_footer::before {
		top: 25%;
	}

	.header-form #gform_1 #field_1_1 span input {
		padding: 0.51rem 1.25rem !important;
	}

	.form-wrapper-top .gform_footer input.gform_button {
		padding: 10px !important;
	}
}


/* ------------------------------------
   Block: Ipad
------------------------------------- */

.post-template-default {

	#post {
		@include breakpoint( medium down ){
		padding-top: 150px;
		}
		@include breakpoint( small down ){
        padding-top: 193px;
  }
	}

	aside.sidebar {
		// display: none;
		margin-top:0;
	}
}

/* ------------------------------------
   Block: Video Hero Section
------------------------------------- */

.front-hero {
	position: relative;
	overflow: hidden; 
	@include breakpoint(large up){
		background-image: none !important;
	}
	@include breakpoint( medium down ){
		background-position: center;
		background-size: cover;
  }

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.35);
		z-index: 2;
	}

	.row-wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		z-index: 3;

		@include breakpoint(small down) {
			display: flex;
			position: relative;
			height: 305px !important;
			width: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			align-items: center;
			transform: none;
		}

		// @include breakpoint(490 down) {
		// 	top: 40%;
		// }

		h1 {
			// @include breakpoint(490 down) {
			// 	font-size: 30px;
			// 	line-height: 20px;
			// }

			// @include breakpoint(380 down) {
			// 	font-size: 55px;
			// 	line-height: 51px;
			// }


		}

		p {
			// @include breakpoint(490 down) {
			// 	font-size: 14px;
			// 	margin-top: 10px;
			// }

			// @include breakpoint(380 down){
			// 	font-size: 21px;
			// 	margin-top: 30px;
			// }

			// @include breakpoint(325 down) {
			// 	margin-top: 5px;
			// }
		}
	}

	.video-wrapper {
		video {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			@include breakpoint(380 down) {
				display: none;
			}
		}
	}
}

