.default-template {
  @include smg-row();
  display: flex;
  padding: 2rem 15px;
  @include breakpoint(small down) {
    flex-direction: column;
  }
  .archive {
    flex: 1 1 auto;
    padding-left: 15px;
    padding-right: 15px;
    @include breakpoint(small down) {
      width: 100%;
    }
    .entry {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      padding-left: 0px;
      padding-right: 0px;
      @include breakpoint(medium down) {
        width: 100%;
        flex-direction: column;
      }
    }
    .entry-header {
      width: 100%;
      h2 {
        margin-bottom: 15px;
        color: $olive;
        font-family: $font;
        font-size: 32px;
        font-weight: 300;
        line-height: 53px;
      }
    }
    .entry-image {
      width: 250px;
      @include breakpoint(medium down) {
        width: auto;
      }
      @include breakpoint(small down) {
        margin-top: 0 !important;
      }
    }
    .entry-content {
      width: calc(100% - 250px);
      padding-left: 30px;

      @include breakpoint(medium down) {
        width: 100%;
        padding-left: 0;
      }
      .btn {
        color: #ffffff;
        font-family: "Muli", sans-serif;
        font-size: 18px;
        text-align: center;
        background: #952361;
        position: relative;
        transition: 0.3s;
        border: 1px solid #ffffff;
        padding: 10px 40px;
        line-height: 1;
        &:hover {
          background-color: #4f677d;
        }
        &:after {
          content: url(../images/svg/arrow.svg);
          position: absolute;
          right: 14%;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          z-index: 5;
          line-height: 1;
          height: 14px;
        }
      }
    }
  }
  .sidebar {
    display: block;
    width: 208px;
    flex: 0 0 auto;
    margin-left: 70px;
    @include breakpoint(medium down) {
      width: 100%;
      margin-left: 0;
    }
  }
}
#index.default-template {
  padding-left: 15px;
  padding-right: 15px;
}
