.default-template {
  @include smg-row();
  display: flex;
  padding: 2rem 0 98px;
  padding-top: 50px;
  @include breakpoint(small down) {
    padding-bottom: 3rem;
  }
  .entry {
    flex: 1 1 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 892px;
    @include breakpoint(medium down) {
      width: calc(100% - 238px);
      padding-top: 0;
      padding-bottom: 0;
    }
    @include breakpoint(small down) {
      width: 100%;
    }
    .entry-header {
    }
    .entry-image {
      margin-bottom: 30px;
      @include breakpoint(small down) {
        margin-top: 45px;
      }
    }
    .entry-title {
      font-size: 46px;
    }
    .entry-body {
    }
    .entry-content {
    }
  }
  .sidebar {
    display: block;
    width: 208px;
    flex: 0 0 auto;
    margin-left: 70px;
    margin-top: 75px;
    @include breakpoint(medium down) {
      margin-left: 30px;
      padding-right: 15px;
    }
    @include breakpoint(small down) {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    input[type="submit"] {
      width: 100%;
    }
  }
  .row {
    display: flex;
    @include breakpoint(medium down) {
      flex-wrap: wrap;
    }
  }
}
