/* Basic Elements */
body {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal;
}

strong,
b {
  font-weight: 600;
}

p {
  margin: 0;
  margin-bottom: 30px;
  font-size: $paragraph-font-size;
  line-height: 25px;
}

blockquote {
  margin: 0;
  margin-bottom: 30px;
  padding: 30px 40px 1px;
  background-color: #efefef;
  clear: both;
}

.fl-text {
}

.smg-slider {
  .slick-list {
    @include breakpoint(small down) {
      margin-bottom: 25px;
    }
  }
  .slick-arrow {
  }
}

@each $name, $value in $palette {
  .#{$name} {
    color: #{$value} !important;
  }
  .bg-#{$name} {
    background-color: #{$value} !important;
  }
}

ul.pagination {
  display: flex;
  margin: 0;
  li {
    display: block;
    margin: 0;
    margin-right: 15px;
    padding: 0;
    &:last-of-type {
      margin-right: 0;
    }
    a,
    span {
      display: block;
      height: 30px;
      width: 30px;
      background-color: $raspberry;
      color: #fff;
      line-height: 30px;
      text-align: center;
      &.current,
      &:hover {
        background-color: #4f677d;
      }
    }
  }
}

/* ------------------------------------
   Block: Common
------------------------------------- */

.btn,
input[type="submit"],
a {
  border-radius: 0 !important;
}

.template.default-template {
  padding-top: 230px;
  @include breakpoint(medium down) {
    padding-top: 170px;
  }

  @include breakpoint(small down) {
    padding-top: 245px;
  }
}

/* ------------------------------------
   Block: 404 page
------------------------------------- */

.error404 {
  a {
    color: $raspberry;
    transition: 0.3s;

    &:hover {
      color: #4f677d;
    }

    &.btn {
      background-color: $raspberry;
      transition: 0.3s;
      color: $white;

      &:hover {
        background-color: #4f677d;
      }
    }
  }

  #post-not-found {
    // @include breakpoint(medium down){
    //   margin-top: 115px;
    // }

    // @include breakpoint(medium down){
    //   margin-top: 215px;
    // }
  }
}

/* ------------------------------------
   Block: Markup
------------------------------------- */

.page-id-4 {
  .page-header {
    @include breakpoint(medium down) {
      margin-top: 80px;
    }
  }

  a {
    color: $raspberry;
    transition: 0.3s;

    &:hover {
      color: #4f677d;
    }
  }
}

/* ------------------------------------
   Block: Ajax spinner GF
------------------------------------- */

body img.gform_ajax_spinner {
  display: none !important;
}

.gform_wrapper .gform_body .gform_fields .gfield.gfield_error input {
  border-color: #d4d4d4 !important;
}
