// Container
.container {
}

// Row Styling
.row {
  @include smg-row();
  padding: 0 15px;
}
.half-row {
  max-width: 600px;
  padding: 0 15px;
}

// Sizing
.full {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}
.half {
  max-width: 50%;
  padding-left: 0;
  padding-right: 0;
}

// Display
.d-flex {
  display: flex;
}

// Align Items
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

// Justify Content
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}

// Align Self
.align-self-start {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: flex-end;
}

// Justify Self
.justify-self-start {
  justify-self: flex-start;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-end {
  justify-self: flex-end;
}
