@mixin border-radius($radius, $is_imp: false) {
  @if $is_imp == false {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
  } @else {
    border-radius: $radius !important;
    -webkit-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
    -ms-border-radius: $radius !important;
  }
}
@mixin box-shadow(
  $horizontal,
  $vertical,
  $blur,
  $spread,
  $color,
  $o,
  $is_imp: false
) {
  @if $is_imp == false {
    box-shadow: $horizontal $vertical $blur $spread rgba($color, $o/100);
    -webkit-box-shadow: $horizontal
      $vertical
      $blur
      $spread
      rgba($color, $o/100);
    -moz-box-shadow: $horizontal $vertical $blur $spread rgba($color, $o/100);
  } @else {
    box-shadow: $horizontal
      $vertical
      $blur
      $spread
      rgba($color, $o/100) !important;
    -webkit-box-shadow: $horizontal
      $vertical
      $blur
      $spread
      rgba($color, $o/100) !important;
    -moz-box-shadow: $horizontal
      $vertical
      $blur
      $spread
      rgba($color, $o/100) !important;
  }
}
@mixin opacity($opacity, $is_imp: false) {
  @if $is_imp == false {
    opacity: $opacity/100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
    filter: alpha(opacity=$opacity);
    -moz-opacity: $opacity/100;
    -khtml-opacity: $opacity/100;
  } @else {
    opacity: $opacity/100 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)" !important;
    filter: alpha(opacity=$opacity) !important;
    -moz-opacity: $opacity/100 !important;
    -khtml-opacity: $opacity/100 !important;
  }
}

@mixin cssGradient(
  $color1: "",
  $loc1: 0%,
  $color2: "",
  $loc2: 100%,
  $color3: "",
  $loc3: "",
  $orientation: "to bottom",
  $is_imp: false
) {
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); */ /*IE 6-9 */
  @if $color3 == "" {
    @if $is_imp == false {
      background: $color1; /* Old browsers */
      background: linear-gradient(
        $orientation,
        $color1 $loc1,
        $color2 $loc2
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    } @else {
      background: $color1 !important; /* Old browsers */
      background: linear-gradient(
        $orientation,
        $color1 $loc1,
        $color2 $loc2
      ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  } @else {
    @if $is_imp == false {
      background: $color1; /* Old browsers */
      background: linear-gradient(
        $orientation,
        $color1 $loc1,
        $color2 $loc2,
        $color3 $loc3
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    } @else {
      background: $color1 !important; /* Old browsers */
      background: linear-gradient(
        $orientation,
        $color1 $loc1,
        $color2 $loc2,
        $color3 $loc3
      ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}

@mixin smg-row() {
  max-width: 1200px;
  margin: 0 auto;
  @include breakpoint(medium only) {
    max-width: 768px;
    // max-width:738px;
  }
  @include breakpoint(small down) {
    max-width: 380px;
    // max-width: 350px;
  }
  &:before {
    content: "";
    display: block;
    clear: both;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin smg-breakpoint($width) {
  @media screen and (min-width:#{$width}) {
    @content;
  }
}

@mixin skew-before(
  $side: left,
  $deg: -20deg,
  $right: -15px,
  $left: -15px,
  $width: 30px,
  $bg: $primary-color
) {
  position: relative;
  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    @if $side == right {
      right: $right;
    } @else if $side == left {
      left: $left;
    }
    display: block;
    width: $width;
    background: $bg;
    -webkit-transform: skew($deg);
    -ms-transform: skew($deg);
    transform: skew($deg);
  }
}
@mixin skew-after(
  $side: left,
  $deg: -20deg,
  $right: -15px,
  $left: -15px,
  $width: 30px,
  $bg: $primary-color
) {
  position: relative;
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    @if $side == right {
      right: $right;
    } @else if $side == left {
      left: $left;
    }
    display: block;
    width: $width;
    background: $bg;
    -webkit-transform: skew($deg);
    -ms-transform: skew($deg);
    transform: skew($deg);
  }
}

@mixin translate($x1: 0px, $x2: 0px, $y1: 0px, $y2: 0px, $important: false) {
  @if $important != false {
    -ms-transform: translateX($x1)
      translateX($x2)
      translateY($y1)
      translateY($y2) !important;
    -webkit-transform: translateX(calc(#{$x1} + #{$x2}))
      translateY(calc(#{$y1} + #{$y2})) !important;
    -moz-transform: translateX(calc(#{$x1} + #{$x2}))
      translateY(calc(#{$y1} + #{$y2})) !important;
    transform: translateX(calc(#{$x1} + #{$x2}))
      translateY(calc(#{$y1} + #{$y2})) !important;
  } @else {
    -ms-transform: translateX($x1)
      translateX($x2)
      translateY($y1)
      translateY($y2);
    -webkit-transform: translateX(calc(#{$x1} + #{$x2}))
      translateY(calc(#{$y1} + #{$y2}));
    -moz-transform: translateX(calc(#{$x1} + #{$x2}))
      translateY(calc(#{$y1} + #{$y2}));
    transform: translateX(calc(#{$x1} + #{$x2}))
      translateY(calc(#{$y1} + #{$y2}));
  }
}

@mixin translateX($x1: 0px, $x2: 0px, $important: false) {
  @if $important != false {
    -ms-transform: translateX($x1) translateX($x2) !important;
    -webkit-transform: translateX(calc(#{$x1} + #{$x2})) !important;
    -moz-transform: translateX(calc(#{$x1} + #{$x2})) !important;
    transform: translateX(calc(#{$x1} + #{$x2})) !important;
  } @else {
    -ms-transform: translateY($x1) translateY($x2);
    -webkit-transform: translateY(calc(#{$x1} + #{$x2}));
    -moz-transform: translateY(calc(#{$x1} + #{$x2}));
    transform: translateY(calc(#{$x1} + #{$x2}));
  }
}

@mixin translateY($y1: 0px, $y2: 0px, $important: false) {
  @if $important != false {
    -ms-transform: translateY($y1) translateY($y2) !important;
    -webkit-transform: translateY(calc(#{$y1} + #{$y2})) !important;
    -moz-transform: translateY(calc(#{$y1} + #{$y2})) !important;
    transform: translateY(calc(#{$y1} + #{$y2})) !important;
  } @else {
    -ms-transform: translateY($y1) translateY($y2);
    -webkit-transform: translateY(calc(#{$y1} + #{$y2}));
    -moz-transform: translateY(calc(#{$y1} + #{$y2}));
    transform: translateY(calc(#{$y1} + #{$y2}));
  }
}

@mixin bgColor($color) {
  background-color: map-get($palette, $color) !important;
}

@mixin color($color) {
  color: map-get($palette, $color) !important;
}
