.gform_wrapper {
  .gform_heading {
    .gform_title {
      margin-bottom: 35px;
    }
  }
  .gform_body {
    margin-bottom: 20px;
    .gform_fields {
      // display: block;
      display: flex;
      flex-wrap: wrap;
      margin: 0px !important;
      line-height: 0px;
      .gfield {
        display: inline-block;
        position: relative;
        width: 100%;
        float: none;
        margin-bottom: 1.5rem;
        padding-left: 0px;
        vertical-align: top;
        &:before {
          content: none !important;
        }
        &.gfield_error {
          input,
          textarea,
          select {
            // background: rgba(102, 0, 0, 0.2);
            border-color: #f56565;
          }
        }
        @include breakpoint(small down) {
          display: block !important;
          width: 100% !important;
          margin-left: 0px !important;
          margin-right: 0px !important;
          padding: 0px;
        }
        &.gform_validation_container {
          display: none;
        }
        .gfield_description {
          display: block;
          font-size: 0.75rem;
        }
        &.field_description_below .gfield_description {
          margin-top: 0.75rem;
        }
        label {
          display: block;
          margin-bottom: 0.5rem;
          color: $gray-200;
          font-size: 14px;
          letter-spacing: 0.025em;
          line-height: 22px;
          text-transform: uppercase;
        }
        &.gf_list_inline {
          li {
            padding-left: 0;
            margin-left: 0;
            margin-right: 15px;
            display: inline-block;
            @include breakpoint(small down) {
              display: block;
            }
            input[type="checkbox"] {
              display: inline-block;
              width: inherit;
            }
            &:before {
              content: none;
            }
          }
        }
      }
      .gf_left_half {
        width: calc(50% - 15px);
        margin-right: 15px;
      }
      .gf_right_half {
        width: calc(50% - 15px);
        margin-left: 15px;
      }
      .gf_left_third {
        width: calc(33.3333% - 20px);
        margin-right: 20px;
      }
      .gf_center_third {
        width: calc(33.3333% - 20px);
        margin-left: 10px;
        margin-right: 10px;
      }
      .gf_right_third {
        width: calc(33.3334% - 20px);
        margin-left: 20px;
      }
      .gfield_label {
        // font-size: 18px;
        font-size: 19px;
        font-weight: 300;
        line-height: 30px;
      }
      .hidden_label {
        .gfield_label {
          display: none;
        }
      }
      .gf_address_field {
        > .gfield_label {
          display: none;
        }
      }
      .gfield_html {
        h2 {
          margin-bottom: 0px;
        }
        p {
          margin-bottom: 0px;
        }
      }
      .ginput_container {
        position: relative;
      }
      .ginput_container_address {
        span {
          @include breakpoint(small down) {
            display: block;
            width: 100% !important;
            margin-bottom: 35px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding: 0px !important;
          }
        }
        .address_line_1 {
          display: block;
          position: relative;
          margin-bottom: 35px;
        }
        .address_line_2 {
          display: block;
          position: relative;
          margin-bottom: 35px;
        }
        .address_city {
          display: inline-block;
          position: relative;
          width: calc(33.3333% - 20px);
          float: none;
          margin-right: 20px;
        }
        .address_state {
          display: inline-block;
          position: relative;
          width: calc(33.3333% - 20px);
          float: none;
          margin-left: 10px;
          margin-right: 10px;
        }
        .address_zip {
          display: inline-block;
          position: relative;
          width: calc(33.3334% - 20px);
          float: none;
          margin-left: 20px;
          @include breakpoint(small down) {
            margin-bottom: 0px !important;
          }
        }
      }
      .ginput_container_fileupload {
        > .validation_message {
          display: none;
        }
        .gform_fileupload_multifile {
          span {
            display: block;
          }
          input {
            width: auto;
          }
        }
        .gform_drop_instructions {
          margin-bottom: 10px;
        }
      }
      input,
      select,
      textarea {
        display: block;
        width: 100%;
        padding: 0.75rem 1.25rem;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
        color: #4a4a4a;
        font-family: $font;
        font-size: 18px;
        line-height: 21px;
      }
      input {
      }
      select {
        height: 38px;
        border-radius: 0px;
      }
      textarea {
        padding: 1.25rem 1.25rem;
      }
      ::-webkit-input-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder,
      :-moz-placeholder {
        display: none;
      }
    }
  }
  .gform_footer {
    text-align: center;
    .gform_button {
      @include btn();
      background-image: url(../images/svg/arrow.svg);
      background-position: calc(100% - 12px) center;
      background-repeat: no-repeat;
      background-size: 9px 9px;
      padding: 12px 70px;
      border: none;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .gf_readonly input {
    background: #edeff2;
    cursor: not-allowed;
  }
  .validation_error {
    display: block;
    text-align: center;
    margin-bottom: 35px;
    padding: 20px 20px;
    color: #660000;
    // font-size: 18px;
    font-size: 19px;
    border-top: 1px solid #660000;
    border-bottom: 1px solid #660000;
  }
  .validation_message {
    display: block;
    border: none;
    color: #f56565;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-transform: initial;
    &.instruction {
      margin-top: 0.75rem;
      margin-bottom: -0.75rem;
      color: $gray-300;
    }
  }
}
