/*
 * Mixin's
 */
@mixin btn() {
  padding: 0.5rem 3rem;
  background-color: $primary-color;
  color: #fff;
  &:hover {
    background-color: $secondary-color;
  }
}

@mixin btn-rounded() {
  border-radius: 9px;
}

@mixin btn-outline() {
  background-color: transparent;
  border: 1px solid #fff;
  &:hover {
    background-color: $primary-color;
  }
}

@mixin btn-alt-1() {
  background-color: $secondary-color;
  &:hover {
    background-color: $primary-color;
  }
}

/*
 * Classes
 */
.btn {
  @include btn();
  &.round {
    @include btn-rounded();
  }
  &.outline {
    @include btn-outline();
  }
  &.alt-1 {
    @include btn-alt-1();
  }
}

/*
 * BeaverBuilder Support
 */
.fl-button {
  a {
    @include btn();
  }
  &.round a {
    @include btn-rounded();
  }
  &.outline a {
    @include btn-outline();
  }
  &.alt-1 {
    @include btn-alt-1();
  }
}
