.gform_wrapper {
  .gform_heading {
    .gform_title {
      margin-bottom: 35px;
    }
  }
  .gform_body {
    .gform_fields {
      // display: block;
      display: flex;
      flex-wrap: wrap;
      margin: 0px !important;
      line-height: 0px;
      .gfield {
        display: inline-block;
        position: relative;
        width: 100%;
        float: none;
        // margin-top: 25px !important;
        margin-bottom: 30px !important;
        padding-left: 0px;
        vertical-align: top;
        &:before {
          content: none !important;
        }
        &.gfield_error {
          input,
          textarea,
          select {
            background: rgba(102, 0, 0, 0.2);
          }
        }
        @include breakpoint(small down) {
          display: block;
          width: 100% !important;
          margin-left: 0px !important;
          margin-right: 0px !important;
          padding: 0px !important;
        }
        &.used > label,
        span.used > label {
          left: 0px;
          top: -25px;
          font-size: 14px;
        }
        label.form-recaptcha-label {
          position: relative;
          top: 0;
          left: 0;
        }
        &.gform_validation_container {
          display: none;
        }
        .gfield_description {
          display: block;
          line-height: 21px;
          font-size: 16px;
          font-weight: 300;
        }
        &.field_description_below .gfield_description {
          margin-top: 5px;
        }
        select ~ label,
        .gfield_label_before_complex {
          // display: none;
        }
        label {
          position: absolute;
          pointer-events: none;
          top: 7px;
          left: 10px;
          color: #6a6a6a;
          font-size: 14px; // 16px;
          font-weight: 400;
          line-height: 21px; // 22px;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
          z-index: 1;
        }
        &.gf_list_inline {
          li {
            padding-left: 0;
            margin-left: 0;
            margin-right: 15px;
            display: inline-block;
            @include breakpoint(small down) {
              display: block;
            }
            input[type="checkbox"] {
              display: inline-block;
              width: inherit;
            }
            &:before {
              content: none;
            }
            label {
              position: relative;
              top: 0;
              left: 0;
              pointer-events: inherit;
            }
          }
        }
      }
      .gf_left_half {
        width: calc(50% - 15px);
        margin-right: 15px;
      }
      .gf_right_half {
        width: calc(50% - 15px);
        margin-left: 15px;
      }
      .gf_left_third {
        width: calc(33.3333% - 20px);
        margin-right: 20px;
      }
      .gf_center_third {
        width: calc(33.3333% - 20px);
        margin-left: 10px;
        margin-right: 10px;
      }
      .gf_right_third {
        width: calc(33.3334% - 20px);
        margin-left: 20px;
      }
      .gfield_label {
        // font-size: 18px;
        font-size: 19px;
        font-weight: 300;
        line-height: 30px;
      }
      .hidden_label {
        .gfield_label {
          display: none;
        }
      }
      .gf_address_field {
        > .gfield_label {
          display: none;
        }
      }
      .gfield_html {
        h2 {
          margin-bottom: 0px;
        }
        p {
          margin-bottom: 0px;
        }
      }
      .ginput_container {
        position: relative;
      }
      .ginput_container_address {
        span {
          @include breakpoint(small down) {
            display: block;
            width: 100% !important;
            margin-bottom: 35px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding: 0px !important;
          }
        }
        .address_line_1 {
          display: block;
          position: relative;
          margin-bottom: 35px;
        }
        .address_line_2 {
          display: block;
          position: relative;
          margin-bottom: 35px;
        }
        .address_city {
          display: inline-block;
          position: relative;
          width: calc(33.3333% - 20px);
          float: none;
          margin-right: 20px;
        }
        .address_state {
          display: inline-block;
          position: relative;
          width: calc(33.3333% - 20px);
          float: none;
          margin-left: 10px;
          margin-right: 10px;
        }
        .address_zip {
          display: inline-block;
          position: relative;
          width: calc(33.3334% - 20px);
          float: none;
          margin-left: 20px;
          @include breakpoint(small down) {
            margin-bottom: 0px !important;
          }
        }
      }
      .ginput_container_fileupload {
        > .validation_message {
          display: none;
        }
        .gform_fileupload_multifile {
          span {
            display: block;
          }
          input {
            width: auto;
          }
        }
        .gform_drop_instructions {
          margin-bottom: 10px;
        }
      }
      input {
        display: block;
        width: 100%;
        padding: 4px 10px 4px 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
        font-size: 14px; // 16px;
        line-height: 17px; // 22px;
      }
      select {
        display: block;
        height: 41px;
        width: 100%;
        padding: 8px 10px 4px 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
        border-radius: 0px;
        font-size: 14px; // 16px;
        line-height: 17px; // 22px;
      }
      textarea {
        display: block;
        width: 100%;
        padding: 8px 10px 4px 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
        font-size: 14px; // 16px;
        line-height: 17px; // 22px;
      }
      ::-webkit-input-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder,
      :-moz-placeholder {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .gform_footer {
    .gform_button {
      padding: 4px 15px;
      background-color: $form-button;
      color: #fff;
      font-size: 14px; // 16px;
      font-weight: normal;
      line-height: 17px;
      text-transform: none;
      &:hover {
        background-color: $form-button-hover;
        border-color: $form-button-hover;
        color: #fff;
      }
    }
  }
  .gf_readonly input {
    background: #edeff2;
    cursor: not-allowed;
  }
  .validation_error {
    display: block;
    text-align: center;
    margin-bottom: 35px;
    padding: 20px 20px;
    color: #660000;
    // font-size: 18px;
    font-size: 19px;
    border-top: 1px solid #660000;
    border-bottom: 1px solid #660000;
  }
  .validation_message {
    display: block;
    text-align: center;
    padding: 10px 20px;
    color: #660000 !important;
    // font-size: 18px;
    font-size: 19px;
    border-top: 1px solid #660000;
    border-bottom: 1px solid #660000;
    margin-top: 10px;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: 0px;
  }
}

#input_4_7_6_container {
  display: block;
  margin-top: 25px !important;
  label {
    display: none;
  }
}

#field_4_6,
#input_4_7_6_label {
  position: static;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.46px;
  line-height: 21px;
}

#field_4_4,
#field_4_10,
#field_4_6 {
  .gfield_label {
    position: static;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.46px;
    line-height: 21px;
  }
}

#input_4_4,
#input_4_10 {
  margin-bottom: 0;
}
