#header {
  #menu {
    &.change {
      display: block;
      #menu-header-menu {
        display: block;
        position: relative;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        left: 0;
        @include breakpoint(medium only) {
          padding-left: 0;
        }
        @include breakpoint(small down) {
          top: 0;
        }
        li {
          margin-left: 0;
          a {
            display: block;
          }
          ul li {
            &:hover {
              background-color: transparent;
              a {
                color: #fff;
              }
            }
            a {
              padding: 0px 15px;
              margin: 5px 0;
              font-weight: normal;
            }
          }
        }
        .dropdown {
          @include breakpoint(medium down) {
            transition: none;
          }
          &.mobile-drop-open {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            opacity: 1;
            transition: none;
            visibility: visible;
            box-shadow: none;
            margin-bottom: 10px;
          }
        }
        .dropdown-button {
          display: block;
        }
      }
    }
  }
}
.dropdown-button {
  width: 50px;
  display: none;
  height: 41px;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  &.rotate-dropdown-button {
    transform: rotate(-180deg);
  }
  @include breakpoint(medium down) {
    display: flex;
  }
  svg {
    transform-origin: center center;
    transition: 0.3s all ease;
  }
  &.dropdown-open {
    svg {
      transform: rotate(-180deg);
    }
  }
  .svg {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
}
