/*
 * Settings
 */
$height: 800px;
$tablet-height: 550px;
$mobile-height: 450px;

/*
  * Mixins
  */
@mixin slider-base() {
  display: flex !important;
  z-index: 1;
  .slick-list {
    flex: 1 1 auto;
  }
  .slick-arrow {
    flex: 0 0 auto;
    &:focus {
      outline: none;
    }
  }
  .slick-prev {
    margin-right: 15px;
  }
  .slick-next {
    margin-left: 15px;
  }
  .slide {
    height: $height;
    @include breakpoint(medium only) {
      height: $tablet-height;
    }
    @include breakpoint(small down) {
      height: $mobile-height;
    }
  }
}
@mixin slider-alt() {
}
@mixin slider-hero() {
  @include slider-base();
  .slick-list {
    z-index: 1;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    z-index: 2;
  }
  .slick-prev {
    left: 30px;
  }
  .slick-next {
    right: 30px;
  }
}

/*
  * Classes
  */

.product-slider {
  @include slider-base();
  position: relative;
  max-width: 1040px;
  margin: 0 auto;
  @include breakpoint(medium only) {
    max-width: 680px;
  }
  @include breakpoint(small down) {
    max-width: 250px;
  }
  .slide {
    .img {
      display: flex;
      height: 238px;
      align-items: center;
      justify-content: center;
      max-width: 238px;
      text-align: center;
      margin: 0 auto;
      img {
        max-height: 238px;
        width: auto;
      }
    }
    h4 {
      margin: 0;
      margin-bottom: 20px;
      margin-top: 20px;
      a {
        display: inline-block;
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
      }
    }
  }
}
